// @file
// Component: c-views-view--toggle

@use '00-config' as *;

.c-views-view--toggle {
  .c-view__exposed {
    display: flex;
    flex-direction: row;

    .views-exposed-form {
      flex-grow: 1;
    }
  }

  .c-view__list {
    @include layout-constrain(rem(gesso-constrain(teaser)), 0, 0);

    .c-view__row + .c-view__row {
      margin-top: rem(gesso-get-map(gutter-width));
    }
  }
}
