{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - url: aliased URL of media entity in string format
 *
 * @see template_preprocess_media()
 */
#}
{% set size_key = content.field_display_style|render|striptags|trim %}
{% if size_key == 'square' or size_key == 'one_col_tall' or size_key == 'short' %}
  {% set size_val = '1' %}
{% elseif size_key == 'wide' or size_key == 'wide_short' or size_key == 'large_square' %}
  {% set size_val = '2' %}
{% endif %}

{% set classes = [
  'c-topic-grid__item',
  'c-topic-grid__item--width' ~ size_val,
  content.field_research_area|field_value ? 'js-filter-' ~ content.field_research_area|render|striptags|trim : ''
] %}

{% set attributes = attributes.addClass(classes) %}

<div{{ attributes }}>
  {% include "@components/overlay-link/overlay-link.twig" with {
    'image': content.field_thumbnail|field_value ? content.field_thumbnail : content.thumbnail,
    'label': 'Video'|t,
    'kicker': 'Video'|t,
    'title': content.field_long_text|field_value is not empty ? content.field_long_text|field_value : name,
    'link': content.field_boolean['#items'].value == 0 ? url : null,
    'attributes': false
  } %}
</div>

{# Uncomment the following if you don’t render the content variable. #}
{% set catch_cache = content|render %}
