// @file
// Component: c-external-link
@use '00-config' as *;

:where(.external-link .c-icon) {
  color: var(--gesso-accent-color);
}

.external-link .c-icon {
  transition: transform gesso-duration(shortest) ease-out;
}

.external-link:hover .c-icon,
.external-link:focus .c-icon,
.external-link:active .c-icon {
  color: var(--gesso-link-hover-color);

  @media (prefers-reduced-motion: no-preference) {
    transform: translate(rem(3px), rem(-3px));
  }
}

.external-link--locked {
  &:hover,
  &:focus,
  &:active {
    .c-icon {
      transform: none;
    }
  }
}

.external-link__word {
  white-space: nowrap;
}
