{% set classes = [
  'c-external-link',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  <h2>Internal Links</h2>
  <p><a href="#foo">#foo</a></p>
  <p><a href="mailto:foo@example.com">foo@example.com</a></p>
  <p><a href="/foo">/foo</a></p>
  <p><a href="https://www6.slac.stanford.edu">https://www6.slac.stanford.edu</a></p>
  <p><a href="https://sites.slac.stanford.edu/cro/resources">https://sites.slac.stanford.edu/cro/resources</a></p>
  <p><a href="https://emergency.slac.stanford.edu/coronavirus">https://emergency.slac.stanford.edu/coronavirus</a></p>
  <p><a href="https://careers.slac.stanford.edu/">https://careers.slac.stanford.edu/</a></p>


  <h2>Locked Links</h2>
  <p><a href="https://intranet.slac.stanford.edu/">https://intranet.slac.stanford.edu/</a></p>

  <h2>External Links</h2>
  <p><a href="http://www.stanford.edu/">http://www.stanford.edu/</a></p>
  <p><a href="https://www.symmetrymagazine.org">https://www.symmetrymagazine.org</a></p>
</div>
