// @file
// Component: c-event-list
@use '00-config' as *;

.c-event-list {
  .c-event-date {
    color: inherit;
    margin-bottom: gesso-spacing(2);
    position: static;
  }

  .c-card--teaser {
    border-bottom: 1px solid gesso-grayscale(gray-2);
    margin-top: 0;

    &:first-child {
      border-top: 1px solid gesso-grayscale(gray-2);
    }
  }

  .c-card__body {
    padding-left: 0;
  }

  .c-card__title {
    margin-bottom: gesso-spacing(2);
  }
}
