// Component: Tag List

@use '00-config' as *;

.c-tag-list {
  margin: gesso-spacing(9) 0;

  + * {
    margin-top: 0;
  }

  ul {
    @include list-clean();
    display: flex;
    flex-wrap: wrap;
    gap: rem(14px);
  }

  li {
    margin: 0;
  }
  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-block: 126px;
  }
}
