// Component: Site Logo
@use '00-config' as *;

.c-logo {
  color: inherit;
  display: inline-block;
  margin-bottom: rem(gesso-spacing(1.5));

  @include breakpoint(gesso-breakpoint(tablet)) {
    margin-bottom: 0;
  }
}
