// Component: Site Logo
@use '00-config' as *;

.c-logo {
  display: inline-block;
  vertical-align: middle;

  @include breakpoint-max(gesso-breakpoint(mobile-menu)) {
    display: none;
  }
}

.c-logo__image {
  height: 62px;
  width: auto;
}
