{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# The class 'view' is necessary because it's used by ajax_view.js in core. #}
{% set classes = [
  'c-view',
  'c-view--' ~ id|clean_class,
  'c-view--display-' ~ display_id,
  'c-views-view--accordion',
  'view',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% set attributes = attributes.addClass(classes) %}
{% set lightbox_id = 'filter-modal'|unique_id %}

{% if not filter_title %}
  {% set filter_title = 'FAQs Filter'|t %}
{% endif %}

{% set filters %}
  {{ drupal_block('facet_block:faq_category_taxonomy_term_name_faq_accordion') }}
{% endset %}

{% set filter_modal %}
  {% include '@components/filter-modal/filter-modal.twig' with {
    'attributes': false,
    'filters': filters,
    'lightbox_id': lightbox_id,
    'button_text': 'Filter'|t,
    'filter_title': filter_title
  } %}
{% endset %}

{% set filters_search %}
  <div class="l-constrain l-constrain--small">
    {% if exposed %}
      {{ exposed }}
    {% endif %}
    {{ filter_modal }}
  </div>
{% endset %}

{% if empty %}
  {% set empty %}
    {% include '@components/wysiwyg/wysiwyg.twig' with {
      'content': empty
    } %}
  {% endset %}
{% endif %}

{% include '@components/view/views-view/views-view.twig' with {
  'element': 'div',
  'header': header,
  'exposed': filters_search,
  'attachment_before': attachment_before,
  'rows': rows,
  'empty': empty,
  'pager': pager,
  'attachment_after': attachment_after,
  'more': more,
  'footer': footer,
  'feed_icons': feed_icons,
} %}
