// @file
// Component: event-detail
@use '00-config' as *;

.event-detail {
  .c-button,
  .c-button::after {
    margin-left: 0;
  }

  .c-button:first-of-type {
    margin-right: 16px;
  }
}

.event-detail__col:nth-of-type(2) {
  @media (max-width: 600px) {
    order: -1;
  }
}
