// @file
// Component: event-detail
@use '00-config' as *;

.event-detail__content,
.event-detail__speaker {
  padding-block: gesso-spacing(9);
}

.event-detail__speaker {
  border-block: 1px solid gesso-grayscale(stanford-black);
}

.event-detail__info {
  p:last-child {
    margin-bottom: 0;
  }
}
