// Component: Hero with Background Image

@use '00-config' as *;

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.c-hero-bg-image {
  --hero-bg-image-height: 333px;
  color: var(--gesso-text-color);
  overflow: hidden;
  padding: 0;
  position: relative;

  > img {
    height: var(--hero-bg-image-height);
    object-fit: cover;
    width: 100%;
  }

  .homepage & {
    margin-top: calc(
      0px - var(--gesso-header-initial-height) -
        var(--gesso-global-header-height)
    );

    > img {
      height: calc(
        var(--hero-bg-image-height) + var(--gesso-header-initial-height) +
          var(--gesso-global-header-height)
      );
    }

    @include breakpoint-min(gesso-breakpoint(mobile-menu) + 1px) {
      margin-top: calc(
        0px - var(--gesso-header-initial-height) -
          var(--gesso-internal-header-height) -
          var(--gesso-global-header-height)
      );

      > img {
        height: calc(
          var(--hero-bg-image-height) + var(--gesso-header-initial-height) +
            var(--gesso-internal-header-height) +
            var(--gesso-global-header-height)
        );
      }
    }
  }

  .c-kicker {
    color: var(--gesso-text-color);
    display: table;
    margin-bottom: rem(gesso-spacing(1));
  }

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    --hero-bg-image-height: 420px;
  }
}

.c-hero-bg-image__content {
  position: relative;
  top: -120px;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    bottom: 0;
    left: 50%;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;

    > .l-constrain {
      display: flex;

      .c-hero-bg-image--left & {
        justify-content: flex-start;
      }

      .c-hero-bg-image--right & {
        justify-content: flex-end;
      }
    }
  }
}

.c-hero-bg-image__overlay {
  background: linear-gradient(
    180deg,
    gesso-grayscale(white) -45.6%,
    rgba(gesso-grayscale(white), 0.51) -27.4%,
    gesso-grayscale(white) 25.2%
  );
  border-top: 8px solid gesso-brand(poppy, light);
  padding: gesso-site-margins(mobile);

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    max-width: 493px;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding: 20px 30px;
  }
}

.c-hero-bg-image__title {
  @include display-text-style(h2);
  color: inherit;
  text-align: left;
}

.c-hero-bg-image__summary {
  @include display-text-style(body);
  color: inherit;

  p:last-child {
    margin-bottom: 0;
  }
}

.c-hero-bg-image__button {
  margin: 1rem 0 0;

  .c-button {
    margin-bottom: 0;
  }
}

.c-hero-bg-image__arrow {
  font-size: rem(34px);

  @media (prefers-reduced-motion: no-preference) {
    animation-delay: 2.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.c-hero-bg-image__caption {
  bottom: rem(gesso-spacing(2.5));
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    .c-hero-bg-image--left & {
      left: calc(50% - #{rem(gesso-site-margins(mobile))});
      text-align: right;
    }

    .c-hero-bg-image--right & {
      left: calc(50% + #{rem(gesso-site-margins(mobile))});
      text-align: left;
      transform: translateX(-50%);
    }
  }

  @include breakpoint(gesso-breakpoint(desktop)) {
    .c-hero-bg-image--left & {
      left: calc(50% - #{rem(gesso-site-margins(desktop))});
    }

    .c-hero-bg-image--right & {
      left: calc(50% + #{rem(gesso-site-margins(desktop))});
    }
  }
}
