// Component: Fieldset

@use '00-config' as *;
@use '../form-item/form-item' as *;

$fieldset-legend-offset: rem(
  gesso-line-height(base) * gesso-base-font-size()
) !default;

.c-fieldset {
  margin-bottom: rem(gesso-spacing(3));
  min-width: 0;
  padding: 0;
}

.c-fieldset__legend-text {
  display: block;
  font-size: 20px;
  font-weight: gesso-font-weight(bold);
}

.c-fieldset__legend-link {
  display: block;
}

// .c-fieldset__content {}

.c-fieldset__description {
  color: gesso-grayscale(stanford-black);
  font-size: rem(gesso-font-size(2));
  margin-bottom: gesso-spacing(2);

  > :last-child {
    margin-bottom: 0;
  }
}

%fieldset--form-item {
  margin-bottom: rem(gesso-spacing(3));

  .c-fieldset__content {
    margin-top: rem(gesso-spacing(0.5));
  }

  &.is-disabled {
    .c-fieldset__legend,
    .c-fieldset__description {
      opacity: $form-disabled-opacity;
    }
  }
}

.c-fieldset--checkboxes,
.c-fieldset--datetime,
.c-fieldset--radios {
  @extend %fieldset--form-item;
}
