// @file
// Component: c-overlap-image
@use '00-config' as *;

.c-overlap-image {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1240px);
  position: relative;

  &.c-overlap-image--bottom-left,
  &.c-overlap-image--bottom-right {
    padding-bottom: 0;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      padding-bottom: 200px;
    }
  }
}

.c-overlap-image__image {
  position: relative;

  .c-overlap-image--parallax & {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: min(768px, 106vw);
    width: 100%;

    @include breakpoint-min(gesso-breakpoint(desktop)) {
      aspect-ratio: 1127/768;
      background-attachment: fixed;
      background-size: 100% auto;
      height: auto;
    }
  }

  .c-overlap-image--purple & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      width: min(1127px, 81vw);

      .l-sidebar__main & {
        width: 100%;
      }

      img {
        display: block;
      }

      @include breakpoint-min(1440px) {
        .l-sidebar__main & {
          width: calc(100% - 100px);
        }
      }
    }
  }

  .c-overlap-image--bottom-left & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      background-position-x: left;
      margin-left: auto;
    }

    @include breakpoint-min(1440px) {
      .l-sidebar__main & {
        margin-right: -100px;
      }
    }
  }

  .c-overlap-image--bottom-right & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      background-position-x: right;
    }
  }
}

.c-overlap-image__text {
  @include display-text-style(body);
  background: gesso-grayscale(white);
  color: var(--gesso-text-color);
  padding: rem(gesso-spacing(5));
  position: relative;
  z-index: 1;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    background: linear-gradient(
      rgba(gesso-grayscale(white), 0.51) 0%,
      gesso-grayscale(white) 33%
    );
    padding-bottom: rem(gesso-spacing(9));
    padding-top: rem(gesso-spacing(9));
    width: 50%;
  }

  .c-overlap-image--bottom-left &,
  .c-overlap-image--bottom-right & {
    left: 0;
    position: relative;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      bottom: 0;
      position: absolute;
      top: auto;
    }
  }

  .c-overlap-image--bottom-right & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      left: 50%;
      right: auto;
    }

    @include breakpoint-min(1440px) {
      .l-sidebar__main & {
        left: calc(50% + 100px);
      }
    }
  }

  .c-overlap-image--purple & {
    @include on-dark-variables;
    background: gesso-brand(purple, dark);
  }
}

.c-overlap-image__caption {
  bottom: rem(gesso-spacing(2.5));
  left: 85%;
  position: absolute;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    left: calc(50% + #{rem(gesso-site-margins(desktop))});
    transform: translateX(-50%);
    width: 100%;

    .c-overlap-image--bottom-left & {
      left: calc(50% - #{rem(gesso-site-margins(desktop))});
      text-align: right;
    }
  }
}
