// @file
// Component: c-overlap-image
@use '00-config' as *;

.c-overlap-image {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1240px);
  position: relative;

  &.c-overlap-image--top-left,
  &.c-overlap-image--top-right,
  &.c-overlap-image--dual {
    padding-top: 14.4vw;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      padding-top: 200px;
    }
  }

  &.c-overlap-image--bottom-left,
  &.c-overlap-image--bottom-right,
  &.c-overlap-image--dual {
    padding-bottom: 0;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      padding-bottom: 200px;
    }
  }
}

.c-overlap-image__image {
  position: relative;

  .c-overlap-image--parallax & {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: min(768px, 106vw);
    width: 100%;

    @include breakpoint-min(gesso-breakpoint(desktop)) {
      background-attachment: fixed;
      background-size: 100% auto;
    }
  }

  .c-overlap-image--purple &,
  .c-overlap-image--red &,
  .c-overlap-image--teal & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      width: min(1127px, 81vw);

      img {
        display: block;
        max-width: none;
      }
    }

    @include breakpoint-min(gesso-breakpoint(desktop)) {
      background-size: min(1127px, 81vw) auto;
    }
  }

  .c-overlap-image--top-left &,
  .c-overlap-image--center-left &,
  .c-overlap-image--bottom-left & {
    background-position-x: 100%;

    img {
      margin-left: auto;
    }
  }

  .c-overlap-image--top-right &,
  .c-overlap-image--center-right &,
  .c-overlap-image--bottom-right & {
    background-position-x: 0;
  }
}

:is(.c-overlap-image--top-left, .c-overlap-image--center-left, .c-overlap-image--bottom-left):is(.c-overlap-image--purple, .c-overlap-image--red, .c-overlap-image--teal) {
  .c-overlap-image__image {
    @include breakpoint-min(gesso-breakpoint(desktop-lg)) {
      @include layout-half-full-bleed($direction: 'right');
    }
  }
}

:is(.c-overlap-image--top-right, .c-overlap-image--center-right, .c-overlap-image--bottom-right):is(.c-overlap-image--purple, .c-overlap-image--red, .c-overlap-image--teal) {
  .c-overlap-image__image {
    @include breakpoint-min(gesso-breakpoint(desktop-lg)) {
      @include layout-half-full-bleed($direction: 'left');
    }
  }
}

.c-overlap-image__text {
  @include display-text-style(body);
  background: gesso-grayscale(white);
  color: var(--gesso-text-color);
  padding: rem(gesso-spacing(5));
  position: relative;
  z-index: 1;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    background: linear-gradient(
      rgba(gesso-grayscale(white), 0.51) 0%,
      gesso-grayscale(white) 33%
    );
    padding-bottom: rem(gesso-spacing(9));
    padding-top: rem(gesso-spacing(9));
    width: 50%;
  }

  .c-overlap-image--bottom-left &,
  .c-overlap-image--bottom-right &,
  .c-overlap-image--dual &:last-of-type {
    left: 0;
    position: relative;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      bottom: 0;
      position: absolute;
      top: auto;
    }
  }

  .c-overlap-image--top-left &,
  .c-overlap-image--top-right &,
  .c-overlap-image--dual &:first-of-type {
    background-color: gesso-grayscale(white);
    background-image: none;
    position: relative;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      background-color: transparent;
      background-image: linear-gradient(
        to top,
        rgba(gesso-grayscale(white), 0.51) 0%,
        gesso-grayscale(white) 51.6%
      );
      bottom: auto;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }

  .c-overlap-image--top-left &,
  .c-overlap-image--center-left & {
    left: 0;
  }

  .c-overlap-image--top-right &,
  .c-overlap-image--center-right &,
  .c-overlap-image--dual &:last-of-type {
    left: auto;
    right: 0;
  }

  .c-overlap-image--bottom-right & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      left: 50%;
      right: auto;
    }
  }

  .c-overlap-image--center-left &,
  .c-overlap-image--center-right & {
    position: relative;

    @include breakpoint-min(gesso-breakpoint(tablet)) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .c-overlap-image--purple & {
    @include on-dark-variables;
    background: gesso-brand(purple, dark);
  }

  .c-overlap-image--purple.c-overlap-image--dual &:first-of-type {
    background: gesso-brand(purple, dark);
  }

  .c-overlap-image--red & {
    @include on-dark-variables;
    background: gesso-brand(cardinal, base);
  }

  .c-overlap-image--red.c-overlap-image--dual &:first-of-type {
    background: gesso-brand(cardinal, base);
  }

  .c-overlap-image--teal & {
    @include on-dark-variables;
    background: gesso-brand(stormy, dark);
  }

  .c-overlap-image--teal.c-overlap-image--dual &:first-of-type {
    background: gesso-brand(stormy, dark);
  }
}

.c-overlap-image__caption {
  bottom: rem(gesso-spacing(2.5));
  left: 85%;
  position: absolute;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    left: calc(50% + #{rem(gesso-site-margins(desktop))});
    transform: translateX(-50%);
    width: 100%;

    .c-overlap-image--top-left &,
    .c-overlap-image--center-left &,
    .c-overlap-image--bottom-left & {
      left: calc(50% - #{rem(gesso-site-margins(desktop))});
      text-align: right;
    }
  }
}

.c-overlap-image__icon {
  margin-bottom: rem(gesso-spacing(2));
}
