// @file
// Component: c-quote
@use '00-config' as *;

.c-quote {
  --quote-size: 80px;
  margin-bottom: rem(gesso-spacing(5));
  margin-top: calc(var(--quote-size) / 2 + #{rem(gesso-spacing(5))});
  padding-top: rem(gesso-spacing(5));
  position: relative;

  .c-fifty-fifty &,
  .c-overlap-image & {
    margin-top: 0;
  }

  &::before,
  &::after {
    background-color: currentColor;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: calc((100% - var(--quote-size)) / 2);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-bottom: rem(gesso-spacing(8));
    margin-top: calc(var(--quote-size) / 2 + #{rem(gesso-spacing(8))});
    padding-top: rem(gesso-spacing(7));

    .c-overlap-image & {
      margin-block: 0;
      padding-top: calc(var(--quote-size) / 2);
    }
  }
}

.c-quote__author {
  @include responsive-font-size(4);
  color: var(--gesso-text-color);
  font-weight: gesso-font-weight(bold);
}

.c-quote__link {
  &,
  &:hover,
  &:focus {
    text-decoration-color: var(--gesso-text-color) !important;
  }
}

.c-quote__desc {
  @include responsive-font-size(3);
  color: var(--gesso-text-color);
  display: table;
  margin-top: 6px;
}

.c-quote__image {
  display: block;
  height: 70px;
  margin-top: rem(gesso-spacing(2));
  width: 70px;

  img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    height: 120px;
    width: 120px;
  }
}

.c-quote__icon {
  color: var(--gesso-accent-color);
  display: block;
  height: var(--quote-size);
  left: 50%;
  position: absolute;
  top: calc(var(--quote-size) / -2);
  transform: translateX(-50%);
  width: var(--quote-size);
}
