{{ attach_library('slac/media_grid') }}

{% set classes = [
  'c-media-grid',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  {% include '@layouts/grid/grid.twig' with {
    grid_content: media_content,
    num_of_cols: 4
  } %}
</div>
