// shenanigans to support mobile order of elements
@use '00-config' as *;

.u-mobile-only {
  @include breakpoint(gesso-breakpoint(tablet)) {
    display: none;
  }
}

.u-desktop-only {
  display: none;
  @include breakpoint(gesso-breakpoint(tablet)) {
    display: revert;
  }
}
