// Component: Mobile Menu Button
// See 03-components/menu/menu--main/mobile-menu-es6.js.

@use '00-config' as *;

.c-hamburger-button {
  @include focus();
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: rem(gesso-font-size(1));
  margin: 0;
  padding: gesso-spacing(3) gesso-spacing(1);
  position: relative;
  text-decoration: none;

  &[hidden] {
    display: none;
  }

  .has-inverse-nav & {
    color: gesso-color(text, on-dark);
  }

  .is-sticky & {
    color: inherit;
  }

  @include breakpoint(375px) {
    padding: gesso-spacing(3) gesso-spacing(2);
  }
}

.c-hamburger-button__icon {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 12px;
  display: inline-block;
  padding-right: 15px + gesso-spacing(1);
  pointer-events: none;
  vertical-align: middle;

  .has-inverse-nav & {
    filter: brightness(0) invert(1);
  }

  .is-sticky & {
    filter: initial;
  }
}

.c-hamburger-button--close {
  text-transform: uppercase;
  z-index: gesso-z-index(modal) + 1;

  .c-hamburger-button__icon {
    @include svg-background(mobile-close);
  }
}

.c-hamburger-button--menu {
  .c-hamburger-button__icon {
    @include svg-background(mobile-menu);
    background-size: 15px 12px;
  }
}
