{% set classes = [
  'c-search',
  'c-search--in-page',
  current_search ? 'has-current-search' : '',
  modifier_classes ? modifier_classes : ''
] %}

{% if current_search %}
  {% set search_placeholder = current_search %}
{% endif %}

<div {{ add_attributes({ class: classes } ) }}>
  <form class="c-search__form">
    {% include '@components/search/_search-input.twig' %}
    <button type="submit" class="c-search__submit">
      {% include '@components/icon/icon.twig' with {
        'icon_name': 'search',
        'label': 'Submit search'|t
      } %}
    </button>
  </form>
  {% if current_search %}
    <div class="c-search__current-search">
      {{ 'Showing results for "@search_term"'|t({'@search_term': current_search}) }}
    </div>
  {% endif %}
</div>
