{% set classes = [
  'c-search',
  'c-search--in-page',
  current_search ? 'has-current-search' : '',
  modifier_classes ? modifier_classes : ''
] %}

{% if current_search %}
  {% set search_placeholder = current_search %}
{% endif %}

<form {{ add_attributes({ class: classes } ) }}>
  <div class="c-search__form">
    {% block search_form %}
      {% include '@components/search/_search-input.twig' %}
      {% include '@components/search/_search-button.twig' %}
    {% endblock %}
  </div>
</form>
