// @file
// Component: c-filter-modal
@use '00-config' as *;

.c-filter-modal {
  position: relative;
}

.c-filter-modal__inner {
  background-color: gesso-color(background, dropdown-menu);
  border: 1px solid gesso-grayscale(gray-1);
  box-shadow: gesso-box-shadow(1);
  left: 0;
  padding: gesso-spacing(2) gesso-spacing(2.5) gesso-spacing(9);
  position: absolute;
  top: 0;
  width: min(100vw, 375px);
  z-index: gesso-z-index(modal);
}

.c-filter-modal__close {
  @include focus;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: gesso-font-weight(black);
  letter-spacing: 0.05em;
  line-height: 1;
  position: absolute;
  right: gesso-spacing(2.5);
  top: 2em;
}

.c-filter-modal__close {
  text-transform: uppercase;

  .c-icon {
    margin-left: gesso-spacing(1);
  }
}

.c-filter-modal__title {
  display: block;
  font-size: rem(gesso-font-size(4));
  font-weight: gesso-font-weight(bold);
  padding-right: rem(79px);
}

.c-filter-modal__content {
  margin-top: 36px;
}

.c-filter-modal__actions {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 35px 10px;
  height: 100%;
  margin: auto;
}

.c-filter-modal__list {
  @include list-clean;
}

.c-filter-modal__footer {
  margin-top: gesso-spacing(5);
}
