@use '00-config' as *;

.l-header {
  @include on-dark-variables;

  &.is-sticky,
  .has-open-menu & {
    @include default-variables;
  }
}

.l-header__logo {
  filter: brightness(0) invert(1);
}

.c-hamburger-button {
  color: inherit;
}

.c-hamburger-button__icon {
  filter: brightness(0) invert(1);

  .is-sticky & {
    filter: initial;
  }
}
