// @file
// Styles for the Mega Menu.
@use '00-config' as *;
@use 'sass:math';

.c-block--mega-menu {
  @include breakpoint-min(gesso-breakpoint(mobile-menu) + 1px) {
    @include menu;
    width: 100%;
  }
}

.c-mega-menu {
  @include menu;
  background: gesso-color(background, site);
  justify-content: space-between;
  padding-left: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  &::after {
    background-color: gesso-color(background, site);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: gesso-z-index(drawer);
  }

  .has-transparent-nav & {
    background-color: transparent;
    transition: background-color gesso-duration(short) gesso-easing(ease-out);

    &::after {
      background-color: transparent;
    }
  }

  .has-open-menu & {
    background-color: gesso-color(background, site);

    &::after {
      background-color: gesso-color(background, site);
    }
  }

  .c-block--mega-menu & {
    max-width: none;
  }

  a {
    color: inherit;
  }

  > .c-mega-menu__item {
    @include menu-item;
    padding: 1.5rem 0 0;

    .has-transparent-nav & {
      border-bottom-color: transparent;
    }

    .has-open-menu {
      border-bottom-color: gesso-color(background, site);
    }

    > .c-mega-menu__link {
      @include menu_link;
      z-index: gesso-z-index(drawer) + 1;
    }

    button.c-mega-menu__link {
      @include text-button;
      font-size: rem(gesso-font-size(2));
      font-weight: gesso-font-weight(bold);
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  > .c-mega-menu__item:last-child > a {
    font-weight: gesso-font-weight(bold);
  }
}

.c-mega-menu__item {
  margin-bottom: 0;
}

.c-mega-menu__section {
  @include layout-full-bleed;
  background-color: gesso-color(background, mega-menu);
  border-top: 1px solid rgba(#2e2929, 0.3);
  bottom: 100%;
  box-shadow: gesso-box-shadow(1);
  color: gesso-color(text, link);
  margin-bottom: 0;
  margin-top: 0;
  max-height: calc(
    100vh - var(--gesso-header-current-height) - var(--ginToolbarHeight, 0px)
  );
  opacity: 1;
  overflow-wrap: normal;
  overflow-y: auto;
  padding: rem(gesso-spacing(4.5)) 0;
  position: fixed;
  transform: translate3d(
    0,
    calc(
      100% + var(--gesso-header-current-height) + var(--ginToolbarHeight, 0px)
    ),
    0
  );
  transition: opacity gesso-duration(long) gesso-easing(ease-in-out);
  z-index: gesso-z-index(social-share) + 1;

  .is-sticky & {
    max-height: calc(
      100vh - var(--gesso-header-current-height) - var(--ginToolbarHeight, 0px)
    );
    transform: translate3d(
      0,
      calc(
        100% + var(--gesso-header-current-height) + var(--ginToolbarHeight, 0px)
      ),
      0
    );
  }

  a,
  button {
    &:focus {
      @include focus(gesso-color(text, link));
    }
  }

  &[hidden] {
    box-shadow: none;
    display: block;
    opacity: 0;
    transform: translate3d(
      0,
      calc(
        0 - var(--gesso-header-current-height) - var(--ginToolbarHeight, 0px) -
          var(--ginToolbarSecondaryHeight, 0px)
      ),
      0
    );
    transition: opacity gesso-duration(long) gesso-easing(ease-in-out),
      transform 0s gesso-duration(long);
    z-index: -1;

    .is-sticky & {
      transform: translate3d(
        0,
        calc(
          0 - var(--gesso-header-current-height) - var(--ginToolbarHeight, 0px)
        ),
        0
      );
    }
  }
}

.menu__section-title {
  display: none;
}

.c-mega-menu__section-inner {
  @include layout-constrain();
  align-items: flex-start;
  display: grid;
  gap: rem(gesso-spacing(5));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: rem(gesso-spacing(2));
  padding-left: rem(gesso-site-margins(desktop));
  padding-right: rem(gesso-site-margins(desktop));
  width: 100%;
}

.c-mega-menu__section-close {
  @include text-button;
  height: rem(50px);
  position: absolute;
  right: rem(10px);
  text-align: center;
  top: rem(10px);
  transition: opacity gesso-duration(short) gesso-easing(ease-in);
  width: rem(50px);

  .c-mega-menu__close-icon {
    height: rem(22px);
    width: rem(32px);
  }

  &:hover {
    color: gesso-color(text, link-hover);
  }
}

.c-mega-menu__section-title {
  color: gesso-color(text, on-dark);
  display: block;
  font-size: rem(gesso-font-size(9));
}

.c-mega-menu__subnav {
  @include list-clean;
  display: grid;
  font-size: rem(gesso-font-size(1));
  gap: rem(gesso-spacing(3));
  grid-auto-rows: min-content;
  grid-column-start: span 2;
  grid-template-columns: repeat(2, 1fr);
}

.c-mega-menu__item {
  &.has-icon {
    display: grid;
    grid-column-gap: rem(gesso-spacing(1.5));
    grid-template-columns: 40px 1fr;

    > *:first-child {
      grid-row-start: span 2;
    }
  }
}

.c-mega-menu__subnav > .c-mega-menu__item:first-child {
  grid-column-start: span 2;
}

.c-mega-menu__subnav .c-mega-menu__subnav > .c-mega-menu__item:first-child {
  font-size: 1em;
}

.c-mega-menu__subnav .c-mega-menu__item.has-subnav {
  margin-top: 0;
}

/* stylelint-disable selector-max-compound-selectors */
.c-mega-menu__subnav .c-mega-menu__subnav {
  display: block;
  grid-column-start: initial;
  margin-top: gesso-spacing(1);
}

.c-mega-menu__subnav .c-mega-menu__subnav .c-mega-menu__item {
  margin-bottom: gesso-spacing(1);
}

.c-mega-menu__subnav .c-mega-menu__link {
  border-bottom: 0;
  color: inherit;
  font-weight: gesso-font-weight(bold);
  letter-spacing: 1px;
  position: static;
  text-decoration: none;
  text-transform: uppercase;
}

.c-mega-menu__subnav a.c-mega-menu__link {
  &:hover,
  &:focus-visible,
  &:active {
    color: gesso-brand(digital-red, base);
    text-decoration: underline;
  }
}

.c-mega-menu__subnav .c-mega-menu__subnav .c-mega-menu__link {
  color: gesso-color(text, link);
  font-size: rem(gesso-font-size(1));
  font-weight: gesso-font-weight(regular);
  letter-spacing: normal;
  line-height: gesso-line-height(tight);
  text-transform: none;

  &:hover,
  &:focus-visible,
  &:active {
    color: gesso-brand(digital-red, base);
    text-decoration: underline;
  }
}

.c-mega-menu__description {
  @include font-family-secondary;
  font-size: 1em;
  line-height: gesso-line-height(loose);

  .c-menu-menu__section--facilities-centers
    .c-mega-menu__subnav
    .c-mega-menu__subnav
    & {
    @include font-family-primary;
    font-size: 0.93333333em;
  }
}
/* stylelint-enable selector-max-compound-selectors */

@include breakpoint-max(gesso-breakpoint(mobile-menu)) {
  .c-mega-menu__section-title,
  .c-mega-menu__section-close {
    display: none;
  }
}
