{% set classes = [
  'c-alert-bar',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes, role: 'alert' } ) }}>
  <div class="l-constrain">
    <div class="c-alert-bar__inner">

      <div class="c-alert-bar__content">
        {{ alert_content }}
      </div>

      {% if is_dismissible %}
        <button class="c-alert-bar__button js-dismiss-button" type="button">
          {{- 'Dismiss'|t -}}
          {% include '@components/icon/icon.twig' with {
        'icon_name': 'close-inverted',
        'label': 'Close',
        'is_demo': false,
        'hidden': true
      } %}
        </button>
      {% endif %}
    </div>
  </div>
</div>
