@use '00-config' as *;

.l-global-header {
  background-color: gesso-grayscale(white);
  padding-block: 18px 12px;

  .homepage & {
    background-color: rgba(gesso-grayscale(white), 0.96);
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding-block: 18px;

    .homepage & {
      background: linear-gradient(
        to right,
        gesso-grayscale(white) 0%,
        gesso-grayscale(white)
          calc(207px + (100vw - #{gesso-constrain(md)}) / 2),
        rgba(gesso-grayscale(white), 0) 100%
      );
      opacity: 0.97;
    }
  }
}

.l-global-header__logo {
  height: 26px;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    height: 30px;
  }
}
