// Component: Footer Menu

@use '00-config' as *;

.c-menu--footer {
  @include list-clean();

  > .c-menu__item {
    border-top: 1px solid gesso-color(ui, generic, border-light);
    font-weight: gesso-font-weight(bold);
    letter-spacing: 1px;
    margin-bottom: rem(gesso-spacing(2.5));
    padding-top: rem(gesso-spacing(1));
    text-transform: uppercase;
    width: rem(190px);

    .c-menu__item {
      border-top: 0;
      font-size: 15px;
      font-weight: gesso-font-weight(regular);
      letter-spacing: initial;
      margin-top: rem(gesso-spacing(1));
      text-transform: none;
    }
  }

  .c-menu__link {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    .c-icon {
      color: inherit;
    }
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit, 190px);
    justify-content: flex-end;
    margin-bottom: rem(0 - gesso-spacing(2.5));

    > .c-menu__item {
      display: block;
      width: auto;
    }
  }
}
