// @file
// Component: c-fifty-fifty
@use '00-config' as *;

.c-fifty-fifty {
  padding-bottom: rem(gesso-spacing(6));
  padding-top: rem(gesso-spacing(6));

  @include breakpoint(gesso-breakpoint(tablet)) {
    padding-bottom: rem(gesso-spacing(10));
    padding-top: rem(gesso-spacing(10));
  }

  &:first-child {
    .l-section & {
      padding-top: 0;

      @include breakpoint(gesso-breakpoint(tablet)) {
        padding-top: 0;
      }
    }
  }

  &:last-child {
    .l-section & {
      padding-bottom: 0;

      @include breakpoint(gesso-breakpoint(tablet)) {
        padding-bottom: 0;
      }
    }
  }
}

// Alt version with slight tweaks, used on event detail.
.c-fifty-fifty--alt {
  @include layout-constrain();

  p:last-of-type {
    margin-bottom: 40px;
  }

  .c-fifty-fifty__col:nth-of-type(2) {
    padding-left: 20px;
    padding-right: 20px;

    @include breakpoint(gesso-breakpoint(grid-2col)) {
      padding-left: 0;
    }
  }

  @include breakpoint-min(gesso-breakpoint(desktop-lg)) {
    @include layout-half-full-bleed($direction: 'left');
    padding-left: 0;
  }
}
