// @file
// Component: c-cookie-banner
@use '00-config' as *;

.c-cookie-banner {
  background: rgba(gesso-grayscale(stanford-black), 0.95);
  bottom: 0;
  color: gesso-grayscale(white);
  font-size: gesso-font-size(2);
  padding: gesso-spacing(3) 0 gesso-spacing(4);
  position: sticky;
  width: 100%;
  z-index: 8;

  a,
  button {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    line-height: inherit;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 1px;
    text-underline-position: under;
  }

  p {
    margin-bottom: 0;
  }
}

.c-cookie-banner__inner {
  align-content: middle;
  display: flex;
  flex-wrap: wrap;
  gap: gesso-spacing(2);
  justify-content: space-between;
}

.c-cookie-banner__button {
  @include text-button;
  @include underline;
  font-weight: gesso-font-weight(bold);
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: uppercase;
}

// wrapper class comes from the module
.sliding-popup-bottom {
  position: sticky;
  text-align: left;
  width: 100%;
}
