// @file
// Component: c-event-date
@use '00-config' as *;

.c-event-date {
  @include font-family-secondary;
  align-items: flex-end;
  color: gesso-grayscale(white);
  display: flex;
  font-size: rem(60px);
  font-weight: gesso-font-weight(black);
  inset: 30px auto auto 30px;
  line-height: 0.9;
  position: absolute;
  z-index: 1;

  span {
    @include font-family-primary;
    display: table;
    font-size: em(26px, 60px);
    text-transform: uppercase;
  }

  @include breakpoint-min-max(
    gesso-breakpoint(mobile-lg),
    gesso-breakpoint(desktop),
    true
  ) {
    font-size: rem(40px);
  }
}
