// Component: Pager

@use '00-config' as *;

$pager-background-color: gesso-color(ui, generic, accent) !default;
$pager-background-color-hover: gesso-color(ui, generic, accent) !default;
$pager-background-color-active: gesso-color(ui, generic, accent-dark) !default;
$pager-link-color: gesso-grayscale(black);
$pager-link-color-hover: gesso-grayscale(white);
$pager-link-color-active: gesso-color(text, on-dark) !default;
$pager-link-focus-outline-color: gesso-color(ui, generic, border-dark) !default;
$pager-bp: 540px;

.c-pager {
  margin: 70px auto;
  text-align: center;

  &::before {
    border-top: 1px solid $pager-link-color;
    content: '';
    display: block;
    margin: auto;
    max-width: 600px;
    width: calc(100% - 40px);
  }
}

.c-pager__items {
  @include list-clean();
  align-items: baseline;
  clear: both;
  display: inline-flex;
  font-size: 18px;
  gap: 16px;
  justify-items: center;
  line-height: 1;
  margin: rem(gesso-spacing(3)) auto;
  padding: 40px 0 0;

  @include breakpoint(gesso-breakpoint(tablet)) {
    padding-top: 70px;
  }
}

.c-pager__item {
  display: inline-block;
  line-height: 1;
  padding: 0;
  text-align: center;
  vertical-align: top;

  &:not([class*='pager__item--']) {
    display: none;

    @include breakpoint($pager-bp) {
      display: inline-block;
    }
  }
}

%c-pager__link {
  background-color: transparent;
  border: 1px solid $pager-link-color;
  border-radius: 21px;
  color: $pager-link-color;
  height: 42px;
  line-height: 38px;
  min-width: 42px;
  text-align: center;
  transition: color gesso-duration(short) gesso-easing(ease-out),
    background-color gesso-duration(standard) gesso-easing(ease-out);
}

.c-pager__item--ellipsis {
  @extend %c-pager__link;
  border: 0;
  display: none;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: auto;

  @include breakpoint($pager-bp) {
    display: inline-block;
  }
}

.c-pager__item--current.c-pager__item {
  @extend %c-pager__link;
  background-color: $pager-link-color;
  color: $pager-link-color-hover;
}

.c-pager__link {
  @extend %c-pager__link;
  display: inline-block;
  text-decoration: none;

  &:visited {
    color: $pager-link-color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $pager-link-color;
    color: $pager-link-color-hover;
  }
}

span.c-pager__link {
  color: $pager-link-color !important;
  opacity: 0.3;
}

.c-pager__link--first,
.c-pager__link--previous,
.c-pager__link--next,
.c-pager__link--last {
  background-color: transparent;
  border: 0;
  color: gesso-color(text, link);
  font-size: 1.3em;

  &:visited {
    color: gesso-color(text, link);
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: gesso-color(text, link-hover);
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    color: gesso-color(text, link-active);
    text-decoration: underline;
  }
}

.c-pager__link--next {
  .c-icon--pager {
    left: 2px;
  }
}

.c-pager__link--last {
  .c-icon--pager {
    right: 2px;
  }
}
