// @file
// Component: c-event-details
@use '00-config' as *;

.c-event-details {
  border-bottom: 1px solid gesso-grayscale(gray-2);

  a {
    text-decoration-color: currentColor;
  }
}

.c-event-details__image {
  position: relative;

  img {
    object-fit: cover;
  }
}

.c-event-details__image {
  background: gesso-grayscale(stanford-black);

  .c-card__gradient {
    background-size: auto 100%;
  }
}

.c-event-details__section {
  padding: gesso-spacing(5) 0 gesso-spacing(2.5);

  // grid layout change bp
  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding-block: gesso-spacing(9) 30px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid gesso-grayscale(gray-4);
  }
}

.c-event-details__when,
.c-event-details__where,
.c-event-details__virtual {
  align-items: first baseline;
  display: flex;
  flex-wrap: wrap;
  gap: gesso-spacing(1);

  span,
  a {
    flex: 1;
  }

  .c-icon {
    top: 2px;
  }

  &:not(:last-child) {
    margin-bottom: gesso-spacing(2);
  }
}

.c-event-details__when {
  span {
    font-size: gesso-font-size(4);
    font-weight: gesso-font-weight(bold);
  }

  .c-icon {
    top: 0;
  }
}

.c-event-details__button {
  display: table;
  margin-bottom: gesso-spacing(2);
  margin-left: 0 !important;
}

.c-event-details__link {
  display: table;
  margin-bottom: 1em;
}
