// @file
// Component: c-event-details
@use '00-config' as *;

.c-event-details {
  max-width: 600px;

  a {
    text-decoration-color: currentColor;
  }
}

.c-event-details__image,
.c-event-details__video {
  position: relative;

  img {
    object-fit: cover;
  }
}

.c-event-details__image {
  background: gesso-grayscale(stanford-black);
}

.c-event-details__video {
  .c-figure.u-align-center {
    margin: 0;
    max-width: 100%;
  }
}

.c-event-details__section {
  padding: 20px 0;

  // grid layout change bp
  @include breakpoint(600px) {
    padding: 30px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid gesso-grayscale(gray-4);
  }
}

.c-event-details__when,
.c-event-details__where {
  align-items: first baseline;
  display: flex;
  flex-wrap: wrap;
  gap: gesso-spacing(1);

  span,
  a {
    flex: 1;
  }

  .c-icon {
    top: 2px;
  }
}

.c-event-details__when {
  span {
    font-size: gesso-font-size(4);
    font-weight: gesso-font-weight(bold);

    .c-event-details--past & {
      font-weight: gesso-font-weight(regular);
    }
  }

  .c-icon {
    top: 0;
  }

  &:not(:last-child) {
    margin-bottom: gesso-spacing(2);
  }
}

.c-event-details__button {
  display: table;
  margin-bottom: gesso-spacing(2);
  margin-left: 0 !important;
}

.c-event-details__info {
  margin-top: gesso-spacing(4);
}

.c-event-details__link {
  display: table;
  margin-bottom: 1em;
}
