// Component: Card

@use '00-config' as *;
@use 'sass:math';
@use './card--small/card--small' as *;
@use './card--link/card--link' as *;
@use './card--small-bio/card--small-bio' as *;

$card-accent-border-color: gesso-color(ui, generic, accent) !default;
$card-link-color: inherit;
$card-link-color-hover: var(--gesso-link-hover-color);
$card-meta-color: inherit;
$card-padding: 30px;

.c-card {
  @include default-variables;
  @include layout-constrain(rem(gesso-constrain(images)), 0, 0);
  display: flex;
  flex-direction: column;
  line-height: gesso-line-height(loose);
  position: relative;

  .c-kicker {
    color: $card-meta-color;
    margin-bottom: rem(gesso-spacing(1));
  }
}

.c-card--on-dark {
  @include on-dark-variables;
}

.c-card__title {
  @include responsive-font-size(5);
  line-height: gesso-line-height(base);
  margin: 0;

  &::after {
    margin-top: -8px;
  }

  .c-card--large & {
    @include responsive-font-size(10);
  }
}

.c-card__link {
  text-decoration-line: none;
}

.c-card__body {
  --gesso-text-color: #{gesso-color(text, primary)};
  background: gesso-color(background, site);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $card-padding;
  z-index: 1;

  .c-card--on-dark & {
    background: transparent;
  }

  .c-card--teaser & {
    padding: 20px 40px;
  }
}

.c-card__header {
  padding-bottom: rem(gesso-spacing(1.5));
}

.c-card__type {
  align-self: flex-start;
  background-color: gesso-grayscale(white);
  margin-left: -1 * $card-padding;
  margin-top: -1 * ($card-padding * 2.5);
  padding: $card-padding/2 $card-padding;
  position: relative;
  width: auto;
  z-index: 1;
}

.c-card__metadata {
  line-height: gesso-line-height(base);
  margin-top: 0.75rem;
}

.c-card__content {
  @include font-family-secondary;
  font-size: rem(gesso-font-size(2));
  line-height: gesso-line-height(loose);

  &:not(:last-child) {
    padding-bottom: rem(30px);
  }

  .c-button {
    margin-top: gesso-spacing(2);
  }
}

.c-card__content--trimmed {
  p:last-child {
    margin: 0;
  }

  position: relative;

  &::after {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.58) 0%,
      #fff 58.33%
    );
    content: '';
    height: 60px;
    inset: auto 0 0 0;
    position: absolute;
  }

  .c-card--teaser & {
    &::after {
      display: none;
    }
  }
}

.c-card__footer {
  font-size: rem(14px);
}

.c-card__media {
  order: -1;

  img {
    aspect-ratio: 2 / 1;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.c-card__icon {
  height: 84px;
  margin-bottom: 30px;
  margin-top: -10px; // slightly reduced padding above

  img {
    height: 100%;
    width: auto;
  }
}

.c-card__footer {
  margin-top: auto;
}

.c-card__date,
.c-card__location {
  align-items: flex-start;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr;

  .c-icon {
    top: 6px;
  }
}

.c-card__tags {
  margin-bottom: rem(gesso-spacing(2));
}

.c-card__readmore {
  text-align: right;
}

.c-card__gradient {
  background-image: url('images/backgrounds/arch-gradient.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  inset: 0;
  mix-blend-mode: multiply;
  position: absolute;
}

// Variants

.c-card--feature {
  .c-card__media {
    flex-grow: 1;
  }

  @include breakpoint(gesso-breakpoint(desktop)) {
    flex-direction: row;

    .c-card__body {
      max-width: 600px;
      padding: $card-padding 2vw;
    }

    .c-card__media {
      order: initial;
    }
  }
}

.c-card--teaser {
  @include layout-constrain(rem(gesso-constrain(teaser)), 0, 0);

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-direction: row;
    flex-wrap: nowrap;

    + .c-card--teaser {
      margin-top: rem(gesso-get-map(gutter-width));
    }

    .c-card__media {
      aspect-ratio: 1;
      flex-shrink: 0;
      width: 280px;

      img {
        height: 100%;
        max-width: none;
        object-position: center;
        width: 100%;
      }
    }

    .c-card__gradient {
      width: 360px;
    }
  }

  .c-card__type {
    display: none;
  }
}

// Bio card
.c-card--bio {
  .c-card__media {
    aspect-ratio: 1/1;
  }

  .c-figure {
    width: 100%;
  }

  .c-card__header {
    padding: 0;
  }

  .c-card__title {
    line-height: gesso-line-height(base);
  }

  .c-card__metadata {
    font-size: gesso-font-size(3);
    font-weight: gesso-font-weight(bold);
    margin-top: gesso-spacing(1);
  }

  .c-card__content {
    @include font-family-primary;
    font-size: gesso-font-size(2);
  }

  .c-card__body {
    padding: 20px;
  }

  .c-card__placeholder {
    background: no-repeat url('images/backgrounds/placeholder-logo.svg')
      center/contain;
    background-origin: content-box;
    padding: 40px 40px 10px;
  }
}

.c-card--large {
  .c-card__media {
    aspect-ratio: 2/1;
    position: relative;
  }

  .c-figure {
    width: 100%;
  }

  .c-card__title {
    @include responsive-font-size(11);
  }

  .c-card__gradient {
    background-size: auto 100%;
  }
}
