// Layout: Header
@use '00-config' as *;

:root {
  --gesso-header-initial-height: 68px;
}

@include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
  :root {
    --gesso-header-initial-height: 111px;
  }
}

.l-header {
  --gesso-scroll-progress: 0%;
  background: gesso-color(background, site);
  border-bottom: 1px solid rgba(gesso-grayscale(stanford-black), 0.3);
  height: var(--gesso-header-initial-height);
  left: 0;
  position: sticky;
  top: calc(var(--ginToolbarHeight, 0px));
  width: 100%;
  z-index: gesso-z-index(nav);

  .has-transparent-nav & {
    background-color: transparent;
    border-bottom-color: transparent;
  }

  &.is-sticky {
    .has-transparent-nav & {
      background-color: gesso-color(background, site);
      border-bottom-color: rgba(gesso-grayscale(stanford-black), 0.3);
    }
  }

  &.c-microsite-hero__header {
    --gesso-header-initial-height: 112px;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    padding: rem(gesso-spacing(5)) 0 rem(gesso-spacing(2.5));
    transition: padding gesso-duration(short) gesso-easing(ease-out),
      background-color gesso-duration(short) gesso-easing(ease-out);

    .has-open-menu & {
      background-color: gesso-color(background, site);
      border-bottom-color: rgba(gesso-grayscale(stanford-black), 0.3);
    }

    &.is-sticky {
      height: auto;
      padding: 1rem 0 1.25rem;
    }

    &.c-microsite-hero__header {
      --gesso-header-initial-height: 172px;
    }
  }
}

.l-header > .l-constrain {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    align-items: baseline;
    margin-bottom: 5px;
    position: relative;
  }
}

.l-header__brand {
  background-color: gesso-color(background, site);
  flex: 1;
  z-index: gesso-z-index(nav) + 1;

  .has-transparent-nav & {
    background-color: transparent;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    align-items: center;
    display: flex;
    flex: initial;
    gap: rem(gesso-spacing(2.5));
    justify-content: flex-start;
    position: relative;
    top: -2px; // minor visual tweak

    .has-open-menu & {
      background-color: gesso-color(background, site);
    }

    .is-sticky & {
      top: 0;
    }
  }
}

.l-header__logo {
  display: block;
  height: 32px;
  width: auto;

  .has-inverse-nav & {
    filter: brightness(0) invert(1);
  }

  .is-sticky & {
    filter: initial;
  }

  @include breakpoint(375px) {
    height: 34px;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    height: rem(40px);
    transition: height gesso-duration(short) gesso-easing(ease-out);
    width: auto;

    .has-open-menu & {
      filter: initial;
    }

    .is-sticky & {
      height: rem(32px);

      .hide-on-sticky {
        display: none;
      }
    }
  }
}

.l-header__progress {
  background: linear-gradient(
    to right,
    gesso-brand(cardinal, base) 0%,
    gesso-brand(cardinal, base) var(--gesso-scroll-progress),
    rgba(255, 255, 255, 0) var(--gesso-scroll-progress)
  );
  bottom: -1px;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;

  .has-open-menu & {
    display: none;
  }
}
