// @file
// Component: c-promo-box
@use '00-config' as *;

.c-promo-box {
  @include layout-full-bleed;
  background-color: rgba(gesso-brand(stormy, dark), 0.1);
  display: flex;
  flex-direction: column;
  gap: gesso-spacing(5);
  grid-template-columns: 100%;
  margin-block: gesso-spacing(9);
  padding: gesso-spacing(3);

  @include breakpoint-min(gesso-breakpoint(mobile-lg)) {
    max-width: min(100vw, 1061px);
    width: max-content;
  }

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    flex-direction: row;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-block: 126px;
    padding: 50px gesso-spacing(5) 36px 100px;
  }
}

.c-promo-box__title {
  max-width: rem(280px);

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    width: rem(280px);
  }
}

.c-promo-box__content {
  a {
    display: table;
    margin-bottom: 14px;
  }

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    columns: 2;
  }
}
