// @file
// Component: c-promo-box
@use '00-config' as *;

.c-promo-box {
  @include svg-background(bell-curve);
  @include layout-full-bleed;
  background-color: gesso-color(ui, generic, background-light);
  background-repeat: repeat-x;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  gap: rem(gesso-spacing(5));
  margin-bottom: 60px;
  margin-top: 60px;
  max-width: 100%;
  padding: rem(gesso-spacing(3));

  .l-section & {
    margin-bottom: 0;
    margin-top: 0;
  }

  @include breakpoint-min(gesso-breakpoint(mobile-lg)) {
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 98px) 100%, 0% 100%);
    padding-inline: rem(gesso-spacing(8)) rem(gesso-spacing(4) + 98px);
    width: max-content;
  }

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 156px) 100%, 0% 100%);
    flex-direction: row;
    margin-bottom: 90px;
    margin-top: 90px;
    padding-right: rem(gesso-spacing(4) + 156px);

    .l-section & {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    max-width: gesso-constrain(md);
  }
}

.c-promo-box__col--image {
  display: none;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    display: block;
    flex-shrink: 0;

    img {
      max-width: 240px;
      width: 100%;
    }
  }
}

.c-promo-box__title {
  max-width: rem(280px);
}

.c-promo-box__content {
  a,
  span {
    display: table;
    margin-bottom: 1rem;
    text-decoration-color: currentColor;
  }
}
