{% set classes = [
  'c-promo-box',
  slide_in ? 'u-slide-left' : '',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  <div class="c-promo-box__col">
    {% if promo_box_kicker %}
      {% include '@components/kicker/kicker.twig' with {
        kicker_content: promo_box_kicker
      } %}
    {% endif %}
    <h2 class="c-promo-box__title">
      {% if promo_box_url %}<a href="{{ promo_box_url }}" class="c-arrow-link">{% endif %}
      {{ promo_box_title }}
      {% if promo_box_url %}</a>{% endif %}
    </h2>
  </div>
  {% if promo_box_content %}
    <div class="c-promo-box__col c-promo-box__content">
      {{ promo_box_content }}
    </div>
  {% endif %}
</div>
