{% set classes = [
  'c-site-name',
  has_logo ? 'c-site-name--logo' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set site_name = site_name|render|trim %}
{% set site_name_parts = site_name|split(' ') %}
{% set midpoint = (site_name_parts|length / 2)|round(0, 'floor') %}
{% set site_name_first = site_name_parts|slice(0, midpoint)|join(' ') %}
{% set site_name_second = site_name_parts|slice(midpoint)|join(' ') %}

<a {{ add_attributes({
  'class': classes,
  'href': url,
  'title': 'Home'|t,
  'rel': 'home'
}) }}>
  {% if has_logo %}
    {% include '@components/logo/logo.twig' with {
      modifier_classes: 'c-logo--header'
    } %}
  {% endif %}
  {%- if site_acronym -%}<span class="c-site-name__acronym">{{ site_acronym }}</span>{%- endif -%}
  <span class="c-site-name__text"><span>{{ site_name_first }}</span> <span>{{ site_name_second }}</span></span>
</a>
