// @file
// Component: c-tooltip
@use '00-config' as *;
@use 'sass:math';

$tooltip-arrow-height: 14px;
$tooltip-border-color: gesso-brand(digital-red, base);
$tooltip-button-size: rem(gesso-font-size(4) * gesso-line-height(base));

.c-tooltip__button {
  background: gesso-grayscale(white);
  border: 0;
  border-radius: 50%;
  color: gesso-color(text, primary);
  cursor: pointer;
  font-size: rem(gesso-font-size(4));
  height: $tooltip-button-size;
  line-height: gesso-line-height(base);
  padding: 0;
  text-align: center;
  width: $tooltip-button-size;
}

.c-tooltip__tooltip {
  @include on-dark-variables;
  background: gesso-grayscale(black);
  border: solid $tooltip-border-color;
  border-radius: 4px;
  border-width: 0 0 rem(gesso-spacing(1));
  bottom: calc(100% + #{$tooltip-arrow-height} + #{rem(gesso-spacing(1))});
  color: var(--gesso-text-color);
  font-size: rem(gesso-font-size(1));
  padding: rem(gesso-spacing(2.5)) rem(gesso-spacing(2.5))
    rem(gesso-spacing(1.5));
  position: absolute;
  right: 0;
  text-align: left;
  width: rem(280px);

  p:last-child {
    margin-bottom: 0;
  }

  &::after {
    border-left: math.div($tooltip-arrow-height, 1.45) solid transparent;
    border-right: math.div($tooltip-arrow-height, 1.45) solid transparent;
    border-top: $tooltip-arrow-height solid $tooltip-border-color;
    content: '';
    height: 0;
    position: absolute;
    right: rem(gesso-site-margins(mobile));
    top: calc(100% + #{rem(gesso-spacing(1))});
    transform: translateX(-25%);
    width: 0;

    @include breakpoint(gesso-breakpoint(desktop)) {
      right: rem(gesso-site-margins(desktop));
    }
  }

  .c-tooltip--align-left & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      left: 0 - math.div(rem(gesso-site-margins(mobile)), 2);
      right: auto;

      &::after {
        left: rem(gesso-site-margins(mobile));
        right: auto;
      }
    }

    @include breakpoint(gesso-breakpoint(desktop)) {
      left: 0 - math.div(rem(gesso-site-margins(desktop)), 2);

      &::after {
        left: rem(gesso-site-margins(desktop));
        right: auto;
      }
    }
  }
}
