// Component: Account Menu

@use '00-config' as *;

.c-menu--footer-utility {
  @include list-pipeline(gesso-color(ui, generic, border-light));
  line-height: 2.1;

  .c-menu__link {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    .c-icon {
      color: inherit;
    }
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    justify-content: flex-end;
    line-height: gesso-line-height(loose);
  }
}
