// Component: Article

@use '00-config' as *;

.c-article:not(:last-child) {
  padding-bottom: rem(gesso-spacing(5));
}

.c-article > .l-constrain {
  position: relative;
}

.c-article__toc {
  @include breakpoint-min(gesso-breakpoint(desktop)) {
    left: 0;
    position: absolute;
    top: 0;
    z-index: gesso-z-index(toc);
  }
}
