// @file
// Component: c-menu--side
@use '00-config' as *;

.c-menu--side {
  --gesso-accent-color: #{gesso-color(text, link)};
  max-height: calc(100vh - var(--gesso-header-current-height, 0px));
  max-width: rem(280px);
  overflow-y: auto;
  position: sticky;
  top: calc(128px + var(--ginToolbarHeight, 0px));

  .c-menu__link {
    border-bottom: 1px solid gesso-grayscale(gray-2);
    display: block;
    outline-offset: -2px;
    padding: 18px 20px 18px 16px;
    position: relative;
    text-decoration-line: none;

    &::before {
      background-color: var(--gesso-accent-color);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleY(0);
      transition: transform 0.3s ease-in, background-color 0.3s ease-in;
      width: 4px;
    }

    &.is-active {
      &::before {
        transform: scaleY(1);
      }
    }

    &:hover,
    &:focus-visible,
    &:active {
      text-decoration-line: underline;

      &::before {
        background-color: var(--gesso-link-hover-color);
        transform: scaleY(1);
      }
    }
  }

  .c-menu__subnav {
    padding-left: 20px;
  }

  .c-menu__item:not(.is-active-trail) .c-menu__subnav {
    display: none;
  }

  .has-sticky-header & {
    top: calc(
      var(--gesso-header-current-height, 128px) + var(--ginToolbarHeight, 0px)
    );
  }

  @include breakpoint-max(gesso-breakpoint(mobile-menu)) {
    display: none;
  }
}
