// @file
// Component: c-menu--side
@use '00-config' as *;

.c-menu--side {
  --gesso-accent-color: gesso-color(text, link);
  max-height: calc(100vh - var(--gesso-header-current-height, 0px));
  max-width: rem(280px);
  overflow-y: auto;
  position: sticky;
  top: 128px;

  .c-menu__link {
    border-bottom: 1px solid gesso-grayscale(gray-2);
    border-left: 4px solid transparent;
    display: block;
    padding: 18px 20px 18px 16px;
    text-decoration-line: none;

    &.is-active {
      border-left-color: var(--gesso-accent-color);
    }

    &:hover,
    &:focus-visible,
    &:active {
      text-decoration-line: underline;
    }
  }

  .c-menu__subnav .c-menu__subnav {
    padding-left: 20px;
  }

  .c-menu__subnav .c-menu__item:not(.is-active-trail) .c-menu__subnav {
    display: none;
  }

  .has-sticky-header & {
    top: var(--gesso-header-current-height, 128px);
  }

  @include breakpoint-max(gesso-breakpoint(mobile-menu)) {
    display: none;
  }
}
