// Layout: Section

@use '00-config' as *;

.l-section:not(.l-section--no-padding) {
  background-color: var(--gesso-background-color);
  padding-bottom: rem(gesso-spacing(5));
  padding-top: rem(gesso-spacing(5));

  &:last-child {
    padding-bottom: gesso-spacing(9);
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding-bottom: rem(gesso-spacing(9));
    padding-top: rem(gesso-spacing(9));

    &:last-child {
      padding-bottom: 126px;
    }
  }

  @supports (container-type: inline-size) {
    @container (max-width: 600px) {
      padding-block: gesso-spacing(4);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  // stylelint-disable-next-line property-no-unknown
  @supports not (container-type: inline-size) {
    .l-grid--2-col &,
    .l-grid--3-col &,
    .l-grid--4-col &,
    .l-grid--6-col &,
    .c-fifty-fifty__col & {
      padding-block: gesso-spacing(4);

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.l-section--no-padding {
  &:last-child {
    padding-bottom: 0;

    .l-section & {
      padding-bottom: 0;
    }
  }
}

.l-section--padding-bottom,
.l-section.l-section--padding-bottom {
  padding-top: 0;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    padding-top: 0;
  }
}

.l-section__title {
  @include responsive-font-size(11);
  color: var(--gesso-text-color);

  + .l-section__content {
    margin-top: rem(gesso-spacing(9));

    @include breakpoint-min(gesso-breakpoint(desktop)) {
      margin-top: rem(gesso-spacing(10));
    }
  }

  a {
    text-decoration-thickness: 1px;
  }
}

.l-section__intro {
  + .l-section__content {
    margin-top: rem(gesso-spacing(5));

    @include breakpoint-min(gesso-breakpoint(desktop)) {
      margin-top: rem(gesso-spacing(7));
    }
  }
}

.l-section__content {
  // stylelint-disable-next-line property-no-unknown
  container-type: inline-size;

  .has-open-lightbox & {
    // stylelint-disable-next-line property-no-unknown
    container-type: initial;
  }
}

.l-section__buttons {
  margin-top: rem(gesso-spacing(5));

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    margin-top: rem(gesso-spacing(7));
  }
}

.l-section--white {
  + .l-section--white {
    padding-top: 0;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    + .l-section--white {
      padding-top: 0;
    }
  }
}

.l-section--dark {
  @include on-dark-variables;

  .l-section__title .c-arrow-link {
    @include arrow-link(white);
  }
}

.l-section--purple-black {
  --gesso-background-color: #{gesso-brand(purple, dark)};
  background-image: linear-gradient(
    to bottom,
    gesso-brand(purple, dark),
    gesso-brand(purple, dark) 78%,
    gesso-grayscale(stanford-black)
  );
}

.l-section--blue-green {
  --gesso-background-color: #{gesso-brand(stormy, dark)};
  background-image: linear-gradient(
    to bottom,
    gesso-brand(stormy, dark),
    gesso-brand(sky, dark)
  );
}

.l-section--yellow {
  --gesso-background-color: #{gesso-brand(illuminating, base)};

  .l-section__title .c-arrow-link {
    @include arrow-link(black);

    &:hover,
    &:focus,
    &:active {
      color: gesso-color(text, link);
    }
  }
}

.l-section--purple {
  --gesso-background-color: #{gesso-brand(purple, dark)};
}

.l-section--blue {
  --gesso-background-color: #{gesso-brand(sky, dark)};
}

.l-section--gray-white {
  --gesso-background-color: #{gesso-brand(fog, light)};
  background-image: linear-gradient(
    to bottom,
    gesso-brand(fog, light),
    gesso-grayscale(white)
  );
}

.l-section--white-gray {
  --gesso-background-color: #{gesso-grayscale(white)};
  background-image: linear-gradient(
    to top,
    gesso-brand(fog, light),
    gesso-grayscale(white)
  );
}

.l-section--divider {
  border-top: 1px solid;
}

.l-section--rss {
  .l-section__title {
    a {
      text-decoration-line: none;
      text-decoration-thickness: 0;

      &:hover,
      &:focus-visible,
      &:active {
        text-decoration-line: underline;
        text-decoration-thickness: em(2px, 42px);
      }
    }

    .c-icon {
      color: #e98300;
      font-size: 0.85em;
      margin-left: rem(gesso-spacing(0.5));
    }
  }

  &.l-section--dark {
    .l-section__title .c-icon {
      color: var(--gesso-text-color);
    }
  }
}
