// Component: Back to Top

@use '00-config' as *;

$back-to-top-font-size: rem(gesso-font-size(1));
$back-to-top-line-height: gesso-line-height(tight);

.c-back-to-top {
  display: none;

  @include breakpoint(gesso-breakpoint(mobile-lg)) {
    align-items: center;
    background-color: gesso-color(button, back-to-top, background);
    border-radius: 50%;
    bottom: rem(gesso-spacing(2.5)) +
      ($back-to-top-font-size * $back-to-top-line-height);
    box-shadow: 5px 5px 20px 0 rgba(gesso-grayscale(black), 0.1);
    color: gesso-color(button, back-to-top, color);
    display: flex;
    font-size: rem(18px);
    height: rem(53px);
    justify-content: center;
    position: fixed;
    right: rem(gesso-spacing(2.5));
    text-decoration: none;
    transition-duration: gesso-duration(short);
    transition-property: background-color, color, opacity;
    transition-timing-function: gesso-easing(ease-in);
    width: rem(53px);
    z-index: gesso-z-index(back-to-top);

    &:visited {
      color: gesso-color(button, back-to-top, color);
    }

    &:hover,
    &:focus {
      background-color: gesso-color(button, back-to-top, background-hover);
      color: gesso-color(button, back-to-top, color-hover);
    }

    &[aria-hidden='true'] {
      opacity: 0;
    }

    &.is-stopped {
      bottom: calc(100% + 100px);
      position: absolute;
    }
  }
}

.c-back-to-top__text {
  color: gesso-color(button, back-to-top, background);
  display: block;
  font-size: $back-to-top-font-size;
  font-weight: gesso-font-weight(bold);
  line-height: $back-to-top-line-height;
  position: absolute;
  top: calc(100% + #{rem(gesso-spacing(0.5))});

  .c-back-to-top--on-dark & {
    color: gesso-color(text, on-dark);
  }
}

// Ensure that the button is visible in Storybook.
.c-back-to-top--storybook-show {
  opacity: 1 !important;
}
