// Layout: Footer

@use '00-config' as *;

.l-footer {
  @include responsive-font-size(1);
  background-image: linear-gradient(
    to right,
    gesso-grayscale(white) 0%,
    gesso-brand(fog, light) 30%,
    gesso-grayscale(gray-1) 100%
  );
  padding: rem(gesso-spacing(3)) 0;

  a {
    color: inherit;
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    padding: rem(82px) 0 rem(gesso-spacing(3));
  }

  @include breakpoint(gesso-breakpoint(desktop-lg)) {
    padding: rem(gesso-spacing(12)) 0 rem(gesso-spacing(3));
  }
}

.l-footer > .l-constrain {
  display: grid;
  gap: rem(gesso-spacing(3));
  grid-template:
    'address'
    'social'
    'menu'
    'utility';

  @include breakpoint(gesso-breakpoint(tablet)) {
    align-items: flex-end;
    gap: rem(gesso-spacing(8));
    grid-template: auto / minmax(min-content, 280px) 1fr;
    justify-content: space-between;
  }

  @include breakpoint(gesso-breakpoint(desktop-lg)) {
    gap: rem(gesso-spacing(8)) rem(gesso-spacing(12));
  }
}

.l-footer__contact {
  grid-area: address;

  @include breakpoint(gesso-breakpoint(tablet)) {
    grid-area: auto;
  }
}

.l-footer__contact-links {
  @include list-clean;
  font-size: rem(15px);
  line-height: gesso-line-height(loose);
  margin-top: rem(gesso-spacing(2.5));

  li {
    margin-bottom: rem(gesso-spacing(1));
  }

  a {
    @include arrow-link(red);
    font-weight: gesso-font-weight(bold);
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    line-height: gesso-line-height(base);

    li {
      margin-bottom: rem(gesso-spacing(0.5));

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.l-footer__social {
  align-self: flex-start;
  grid-area: social;

  @include breakpoint(gesso-breakpoint(tablet)) {
    grid-area: auto;
  }
}

.l-footer__menu {
  grid-area: menu;

  @include breakpoint(gesso-breakpoint(tablet)) {
    grid-area: auto;
  }
}

.l-footer__utility {
  grid-area: utility;

  @include breakpoint(gesso-breakpoint(tablet)) {
    grid-area: auto;
  }
}
