{% set classes = [
  'c-citation',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  <div class="c-citation__inner">
    {{ citation_content }}
  </div>
</div>
