@use '00-config' as *;

.l-internal-header {
  line-height: gesso-line-height(loose);
  padding-block: gesso-spacing(2.5);
  text-align: right;

  @include breakpoint-max(gesso-breakpoint(mobile-menu)) {
    text-align: left;
  }
}
