@use '00-config' as *;

.l-internal-header {
  background-color: gesso-color(background, site);
  line-height: gesso-line-height(loose);
  padding-top: gesso-spacing(2.5);
  position: relative;
  text-align: right;
  z-index: gesso-z-index(nav);

  @include breakpoint-max(gesso-breakpoint(mobile-menu)) {
    background-color: transparent;
    text-align: left;
    z-index: 0;
  }
}
