<button type="submit" {{ add_attributes({class: "c-section-search__button"}) }}>
  <span class="c-section-search__icon" aria-hidden="true"></span>
  <span class="u-visually-hidden">{{ 'Search'|t }}</span>
</button>
