// @file
// Component: c-section-search
@use '00-config' as *;
@use 'sass:math';

.c-section-search {
  @include layout-full-bleed;
  @include on-dark-variables;
  background: gesso-brand(purple, dark);
  padding: gesso-spacing(9) gesso-site-margins(mobile);
}

.c-section-search__form {
  margin: auto;
  max-width: 800px;
}

.c-section-search__label {
  color: var(--gesso-text-color);
  display: table;
  font-size: gesso-font-size(5);
  font-weight: gesso-font-weight(bold);
  margin-bottom: gesso-spacing(1);
}

.c-section-search__field {
  position: relative;

  > .c-form-item {
    margin-bottom: 0;
  }
}

.c-section-search__input {
  border: 0;
  border-radius: 4px;
  font-size: gesso-font-size(3);
  font-weight: gesso-font-weight(light);
  line-height: math.div(25, 18);
  padding: 8px 60px 8px 16px;
  width: 100%;

  &:focus {
    outline: 2px solid gesso-color(ui, generic, focus);
    outline-offset: 2px;
  }

  &.c-form-item__text {
    height: auto;
  }
}

.c-section-search__input::placeholder {
  font-size: gesso-font-size(3);
  font-weight: gesso-font-weight(light);
  line-height: math.div(25, 18);
}

.c-section-search__button {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  inset: -4px -4px -4px auto;
  outline: 0;
  position: absolute;
  width: 60px;

  .c-section-search__icon {
    background-color: gesso-color(text, primary);
    border-radius: 0 4px 4px 0;
    display: block;
    inset: 0;
    mask-image: url('images/backgrounds/search.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 18px;
    position: absolute;
  }

  &:hover,
  &:focus {
    .c-section-search__icon {
      background-color: gesso-brand(digital-red, base);
    }
  }

  &:focus {
    border-color: gesso-color(ui, generic, focus);
  }
}

@include breakpoint(gesso-breakpoint(desktop)) {
  .c-section-search {
    padding: gesso-spacing(9) gesso-site-margins(desktop) gesso-spacing(15);
  }

  .c-section-search__label,
  .c-section-search__input,
  .c-section-search__input::placeholder {
    font-size: gesso-font-size(9);
  }

  .c-section-search__input {
    padding-left: gesso-spacing(3);
    padding-right: gesso-spacing(10);
  }

  .c-section-search__button {
    padding-right: gesso-spacing(10);

    .c-section-search__icon {
      mask-size: 30px;
    }
  }

  .c-section-search__label {
    margin-bottom: gesso-spacing(4);
  }
}
