{% set classes = [
  'c-section-search',
  modifier_classes ? modifier_classes : ''
] %}

<form {{ add_attributes({ class: classes } ) }}>
  {% block search_form %}
    {% include '@components/section-search/_section-search-form.twig' %}
  {% endblock %}
</form>
