// @file
// Component: c-accordion

@use '00-config' as *;

$accordion-item-border-color: var(--gesso-text-color);
$accordion-item-icon-color: gesso-color(text, primary) !default;
$accordion-item-icon-size: gesso-font-size(2);

.c-accordion-item {
  border-bottom: solid 1px $accordion-item-border-color;

  &:first-of-type {
    border-top: solid 1px $accordion-item-border-color;
  }
}

.c-accordion-item__heading {
  font-weight: gesso-font-weight(bold);
  margin: 0;

  .c-accordion--large & {
    @include custom-responsive-font-size(
      rem(gesso-font-size(3)),
      rem(gesso-font-size(6))
    );
  }
}

.c-accordion-item__toggle {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: inherit;
  gap: rem(gesso-spacing(1.5));
  justify-content: space-between;
  padding: rem(gesso-spacing(2));
  pointer-events: none;
  position: relative;
  text-align: left;
  transition: all gesso-duration(short) gesso-easing(ease-out);
  width: 100%;

  // Allow pointer events if accordion is processed
  [accordion-processed] & {
    pointer-events: visible;
  }

  &:hover,
  &:focus-visible {
    color: gesso-color(text, link-hover);

    span {
      @include underline;
      color: inherit;
      text-decoration-color: gesso-color(text, link-hover);
      text-decoration-line: underline;
    }
  }

  .c-accordion--large & {
    @include breakpoint-min(gesso-breakpoint(tablet)) {
      padding: rem(gesso-spacing(4));
    }
  }
}

.c-accordion-item__drawer {
  background: gesso-grayscale(white);
  // display: none;
}

.c-accordion-item__drawer-inner {
  padding: 0 rem(gesso-spacing(8)) rem(gesso-spacing(2)) rem(gesso-spacing(2));

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    .c-accordion--large & {
      padding-bottom: rem(gesso-spacing(6));
      padding-left: rem(gesso-spacing(8));
      padding-top: rem(gesso-spacing(6));
    }
  }
}

.c-accordion-item__icon {
  flex-shrink: 0;
  font-size: $accordion-item-icon-size;
  top: 0;
  transform: rotate(45deg);
  transition: transform gesso-duration(short) gesso-easing(ease-out);
  visibility: hidden;

  // Only show icon if accordion js is processed
  [accordion-processed] & {
    visibility: visible;
  }

  [aria-expanded='true'] & {
    transform: rotate(0deg);
  }
}
