{% set classes = [
  'c-accordion-item',
  'js-accordion-item',
  modifier_classes ? modifier_classes : '',
] %}

<div {{ add_attributes({ class: classes }) }} {{ accordion_is_open ? 'data-accordion-open="true"' }}>
  <div class="c-accordion-item__panel">
    {% block accordion_item_content %}
      {% include '@components/accordion/_accordion-item-content.twig' %}
    {% endblock %}
  </div>
</div>
