@use '00-config' as *;

.people-profile__image {
  margin-bottom: gesso-spacing(5);

  @include breakpoint-min(gesso-breakpoint(mobile-menu) - 1px) {
    margin-bottom: gesso-spacing(10);
  }
}

.people-profile__contact {
  margin-bottom: 10px;

  a {
    text-decoration-line: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
    }
  }
}

.people-profile__subtitle {
  @include responsive-font-size(4);
  font-weight: gesso-font-weight(bold);
  margin-bottom: gesso-spacing(1);
}

.people-profile__description {
  @include responsive-font-size(3);
  margin-bottom: gesso-spacing(4);
}

.people-profile__field {
  @include responsive-font-size(3);
  margin-bottom: gesso-spacing(3);

  &:last-of-type {
    margin-bottom: gesso-spacing(7);
  }
}
