// Component: Page Title

@use '00-config' as *;

.c-page-title {
  margin-bottom: rem(gesso-spacing(5));

  h1 {
    margin: 0;
  }

  h1 + p {
    margin-top: 1rem;
  }
}

.c-page-title--sidebar .l-constrain {
  @include breakpoint-min(gesso-breakpoint(tablet)) {
    align-items: center;
    display: grid;
    gap: rem(146px);
    grid-template-columns: min(50%, rem(gesso-constrain(sm))) 1fr;
  }
}

.c-page-title__icon {
  color: gesso-brand(poppy, base);
  height: 0.5em;
  width: 0.5em;
}
