{% set classes = [
  'c-article-hero',
  modifier_classes ? modifier_classes : ''
] %}

{% set caption_id = 'caption'|unique_id %}

{% set hero_attributes = {
  class: classes
} %}
{% if hero_caption %}
  {% set hero_attributes = hero_attributes|merge({
    'aria-describedby': caption_id
  }) %}
{% endif %}

<div {{ add_attributes(hero_attributes) }}>
  {{ hero_image }}
  {% if hero_caption %}
    <div class="l-constrain c-article-hero__inner">
      {% include '@components/tooltip/tooltip.twig' with {
        tooltip_content: hero_caption,
        tooltip_id: caption_id
      } %}
    </div>
  {% endif %}
</div>
