// @file
// Component: c-article-hero
@use '00-config' as *;
@use 'sass:math';

$tooltip-arrow-height: 21px;

.c-article-hero {
  position: relative;
  width: 100%;

  img {
    height: var(--hero-bg-image-height);
    object-fit: cover;
    width: 100%;
  }

  + .c-page-title,
  + .c-two-column-hero {
    padding-top: calc(2.5rem + 32px);
  }
}

.c-article-hero__inner {
  bottom: rem(gesso-spacing(2.5));
  left: 50%;
  position: absolute;
  text-align: right;
  transform: translateX(-50%);
  width: 100%;
}
