// @file
// Styles for the main menu.

@use '00-config' as *;

.c-dropdown-menu {
  @include menu;
  gap: gesso-spacing(5);
  justify-content: flex-end;
  margin-top: gesso-spacing(5);
  padding-left: 0;
  position: relative;

  > .c-dropdown-menu__item {
    @include menu-item;
    position: relative;

    > .c-dropdown-menu__link {
      @include menu-link;
      background-color: transparent;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &.has-subnav {
        padding-right: 25px;
      }

      &.has-subnav::after {
        @include svg-background(menu-arrow-down);
        background-size: 16px 16px;
        content: '';
        display: block;
        height: 16px;
        overflow: hidden;
        position: absolute;
        right: 5px;
        top: 8px;
        transform: translateY(-40%);
        width: 16px;
      }
    }

    > button.c-dropdown-menu__link {
      @include text-button;
      @include link(gesso-color(text, link), gesso-color(text, link-hover));
    }
  }

  .is-sticky & {
    margin-top: gesso-spacing(3);
  }
}

.c-dropdown-menu__item {
  margin-bottom: 0;
}

.c-dropdown-menu__link.has-subnav {
  position: relative;
}

.c-dropdown-menu__toggle {
  @include text-button;
  @include image-replace(16px, 16px);
  @include svg-background(menu-arrow-down);
  background-color: #f00;
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-40%);

  svg {
    pointer-events: none;
  }
}

.c-dropdown-menu__subnav {
  @include list-clean;
  background-color: gesso-color(background, dropdown-menu);
  box-shadow: gesso-box-shadow(1);
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, #{0 - gesso-spacing(0.5)}, 0) scale(0.95);
  transition: transform 300ms ease-in;
  width: rem(280px);
  will-change: transform;

  &.is-open {
    transform: translate3d(0, 0, 0) scale(1);
  }

  .c-dropdown-menu__link {
    display: block;
    font-size: rem(gesso-font-size(3));
    line-height: gesso-line-height(base);
    padding: rem(gesso-spacing(2)) rem(gesso-spacing(3));
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration-line: underline;
    }

    &.has-subnav::after {
      @include image-replace(16px, 16px);
      @include svg-background(menu-arrow-right);
      background-size: 16px 16px;
      content: '';
      display: block;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .c-dropdown-menu__subnav {
    margin: 0;
  }
}
