// @file
// Component: c-kicker

@use '00-config' as *;

.c-kicker,
%c-kicker {
  @include font-family-primary;
  color: var(--gesso-text-color);
  font-size: rem(gesso-font-size(1));
  font-weight: gesso-font-weight(bold);
  letter-spacing: 0.15em;
  margin-bottom: 0;
  text-transform: uppercase;

  + * {
    margin-top: 0;
  }
}

.c-kicker--big {
  font-size: rem(gesso-font-size(2));
}
