// @file
// Component: c-embed
@use '00-config' as *;

.c-embed {
  margin: 0 auto;

  > * {
    width: 100%;
  }
}

.c-embed,
.c-embed--content {
  max-width: 100%;
  width: gesso-constrain(sm);
}

.c-embed--wide {
  width: gesso-constrain(images);
}

.c-embed--full {
  @include layout-full-bleed;
  max-width: none;
}

.c-embed__wrapper {
  position: relative;

  iframe {
    inset: 0;
    position: absolute;
  }
}
