// @file
// Component: c-microsite-hero

@use '00-config' as *;

// Logo width varies based on stickiness.
$microsite-logo-large: 190px;
$microsite-logo-small: 102px;

.c-microsite-hero__header {
  .l-constrain {
    flex-wrap: wrap;
  }

  .c-search {
    align-self: center;
    padding-top: 1.2rem;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    &,
    &.is-sticky {
      padding-bottom: 0.75rem;
    }
  }
}

.c-microsite-hero__menu {
  @include menu;
  flex-wrap: nowrap;
  gap: rem(gesso-spacing(5));
  justify-content: flex-end;

  .is-sticky & {
    gap: rem(gesso-spacing(4));
    margin-right: rem(gesso-spacing(4));
    width: auto;
  }
}

.c-microsite-hero__menu-item {
  @include menu-item;
  margin: 0;
  padding: 1.25rem 0 0;

  a:not(.c-button) {
    @include menu-link;
    font-size: rem(gesso-font-size(2));
    font-weight: gesso-font-weight(bold);
    letter-spacing: 1px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .c-button {
    margin: 0;
  }
}

.c-microsite-hero__title {
  color: gesso-color(ui, generic, accent);
  font-weight: gesso-font-weight(bold);
  line-height: gesso-line-height(tight);
  margin: 0 0 rem(gesso-spacing(1.5));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .l-header__brand & {
    display: none;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    border-left: 1px solid currentColor;
    display: none;
    margin-bottom: 0;
    overflow: revert;
    padding-left: rem(gesso-spacing(2.5));
    text-overflow: revert;
    white-space: revert;
    width: auto;

    .l-header__brand & {
      display: block;
    }

    .is-sticky & {
      font-size: rem(gesso-font-size(5));
    }
  }

  @include breakpoint-min-max(
    gesso-breakpoint(mobile-menu) + 1px,
    gesso-breakpoint(desktop-lg)
  ) {
    font-size: rem(gesso-font-size(6));

    .is-sticky & {
      font-size: rem(gesso-font-size(5));
    }
  }
}

.c-microsite-hero__brand {
  // transition: 0.25s margin;
  transition: gesso-duration(short) gesso-easing(ease-out) flex-basis;

  a {
    max-width: 250px;
    transition: gesso-duration(short) gesso-easing(ease-out) max-width;
  }

  @include breakpoint(gesso-breakpoint(mobile-lg)) {
    flex-basis: auto;
    min-width: $microsite-logo-large;
  }

  @include breakpoint(gesso-breakpoint(mobile-menu) + 1px) {
    .is-sticky & {
      flex-basis: 100%;

      a {
        max-width: $microsite-logo-small;
      }
    }
  }
}

.js-microsite-section {
  scroll-margin-block-start: var(--gesso-header-current-height);
}
