// Mixins: List

@use '../config.settings' as *;
@use '../functions' as *;
@use 'clearfix' as *;
@use 'breakpoint' as *;

@mixin list-clean {
  list-style-type: none;
  margin: 0;
  padding: 0;

  :where(li) {
    padding-left: 0;
  }

  li::before {
    display: none;
  }
}

@mixin list-inline($inline-on-mobile: true, $wrap: wrap) {
  display: flex;
  flex-flow: row $wrap;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 0;
  }

  > li {
    display: inline-block;
  }

  @if (not $inline-on-mobile) {
    @include breakpoint-max(gesso-breakpoint(tablet), true) {
      align-items: center;
      flex-flow: column nowrap;
    }
  }
}

@mixin list-pipeline(
  $pipeline-border-color: gesso-color(ui, generic, border),
  $angle: true,
  $inline-on-mobile: true,
  $wrap: wrap
) {
  @include list-inline($inline-on-mobile, $wrap);
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  > li {
    align-items: center;
    display: inline-flex;
    gap: 0.75em; // LTR
    margin-right: 0.75em; // LTR

    &::after {
      background: $pipeline-border-color; // LTR
      content: '';
      display: inline-block;
      height: 1em;
      width: 1px;

      @if ($angle) {
        transform: rotate(30deg);
      }
    }

    &.is-active {
      font-weight: gesso-font-weight(bold);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @if (not $inline-on-mobile) {
      @include breakpoint-max(gesso-breakpoint(tablet), true) {
        &::after {
          display: none;
        }
      }
    }
  }
}

@mixin list-border(
  $list-border-padding: 0.25rem,
  $list-border-color: gesso-color(ui, generic, border)
) {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 0;
  }

  > li {
    border-bottom: 1px solid $list-border-color;
    padding: $list-border-padding;
  }
}

@mixin list-column(
  $list-column-count: 2,
  $list-column-gap: 2em,
  $list-item-padding: 0.25em
) {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 0;
  }

  > li {
    break-inside: avoid-column;
    display: table; // break-inside alternative for Firefox
    margin-bottom: 0;
    padding-bottom: $list-item-padding; // use padding instead of margin for Safari bug with CSS columns
  }

  @include breakpoint(500px) {
    column-count: $list-column-count;
    column-gap: $list-column-gap;
  }
}
