// Mixin: default underline settings (for links & certain buttons)

@mixin underline() {
  text-decoration-skip: objects;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-underline-position: under;
}
