// @file
// Component: c-event-hat
@use '00-config' as *;

.c-event-hat {
  background-color: gesso-brand(teal, base);
  background-size: cover;
  color: gesso-grayscale(white);
  font-size: gesso-font-size(6);
  font-weight: gesso-font-weight(black);
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.c-event-hat--tl {
  background-color: gesso-brand(teal, base);
  background-image: linear-gradient(
    to right,
    #{gesso-brand(teal, base)},
    #{gesso-brand(lagunita, base)}
  );
}

.c-event-hat--pl {
  background-color: gesso-brand(purple, base);
  background-image: linear-gradient(
    to right,
    #{gesso-brand(purple, base)},
    #{gesso-brand(lavender, base)}
  );
}

.c-event-hat--tp {
  background-color: gesso-brand(teal, base);
  background-image: linear-gradient(
    to right,
    #{gesso-brand(teal, base)},
    #{gesso-brand(palo-verde, base)}
  );
}

.c-event-hat--cd {
  background-color: gesso-brand(cardinal, base);
  background-image: linear-gradient(
    to right,
    #{gesso-brand(cardinal, base)},
    #{gesso-brand(digital-red, base)}
  );
}
