{# The event type taxonomy maps to different color styles #}
{% set type_color = null %}
{% if event_type is not empty %}
  {% set type_label = event_type|render|striptags|trim|lower %}

  {# Teal/lagunitas (default) #}
  {% if type_label in ['lecture', 'slac on tap'] %}
    {% set type_color = 'tl' %}

    {# Purple/lavender #}
  {% elseif type_label in ['tour', 'art meets science'] %}
    {% set type_color = 'pl' %}

    {# Teal/palo verde #}
  {% elseif type_label in ['science festival', 'block party', 'community day'] %}
    {% set type_color = 'tp' %}

    {# Cardinal/digital red #}
  {% elseif type_label in ['conference', 'special event'] %}
    {% set type_color = 'cd' %}
  {% endif %}
{% endif %}

{% set classes = [
  'c-event-hat',
  type_color ? 'c-event-hat--' ~ type_color : '',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  {{ event_type }}
</div>
