// Component: Select Form Item

@use 'sass:math';
@use '00-config' as *;
@use '../form-item' as *;
$form-select-arrow-size: 24px !default;

.c-form-item--select {
  .c-form-item__select {
    @include svg-background(menu-arrow-down);
    background-position: right $form-select-arrow-size center; // LTR
    background-repeat: no-repeat;
    background-size: rem($form-select-arrow-size);
    padding-left: 24px;
    padding-right: rem($form-select-arrow-size * 2); // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        background-position: left
          rem(math.div($form-select-arrow-size, 2))
          center;
        padding-left: rem($form-select-arrow-size * 2);
        padding-right: 0;
      }
    }

    // Remove inner focus styling on Firefox.
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
      display: none;
    }
  }

  .c-form-item__select--small {
    font-size: rem(gesso-font-size(2));
    height: auto;
    line-height: 1.4;
    padding: rem(gesso-spacing(1)) 3rem rem(gesso-spacing(1))
      rem(gesso-spacing(1.5));
  }
}
