// @file
// Component: c-card--link

@use '00-config' as *;

.c-card.c-card--link {
  .c-card__title {
    &::after {
      display: none;
    }
  }
}

.c-card__list {
  @include font-family-primary;
  @include list-clean;
  font-weight: gesso-font-weight(bold);
  margin-top: rem(gesso-spacing(2));
}
