{% set classes = [
  'c-card--link',
  modifier_classes ? modifier_classes : ''
]|join(' ')|trim %}

{% set card_content %}
  <ul class="c-card__list">
    {% for link in card_links %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>
{% endset %}

{% set title %}
  {% if url %}
    <a href="{{ url }}" class="c-arrow-link">
      {{- title -}}
    </a>
  {% else %}
    {{- title -}}
  {% endif %}
{% endset %}

{% include '@components/card/card.twig' with {
  modifier_classes: classes,
  kicker: false,
  title: title,
  card_content: card_content,
  url: false
} %}
