// @file
// Component: c-fifty-fifty-staggered
@use '00-config' as *;

@include breakpoint(gesso-breakpoint(grid-2col)) {
  .c-fifty-fifty-staggered {
    grid-auto-flow: row dense;
    padding-top: rem(gesso-spacing(12));
  }

  .c-fifty-fifty-staggered__col:nth-child(even) {
    margin-top: rem(gesso-spacing(12)) * -1;
  }

  .c-fifty-fifty-staggered__col:nth-child(odd) {
    grid-column-start: 2;
  }
}
