{% set classes = [
  'c-fifty-fifty-staggered',
  modifier_classes ? modifier_classes : ''
]|join(' ')|trim %}


{% if not content %}
  {% set content %}
    {% for col in cols %}<div class="c-fifty-fifty-staggered__col">{{ col }}</div>{% endfor %}
  {% endset %}
{% endif %}

{% include '@layouts/grid/grid.twig' with {
  grid_content: content,
  num_of_cols: 2,
  modifier_classes: classes
} %}
