// Component: Form Item

@use 'sass:math';
@use '00-config' as *;

$form-background-color: gesso-grayscale(white);
$form-background-color-focus: gesso-brand(sky, light);
$form-border-color: gesso-grayscale(stanford-black);
$form-border-color-focus: gesso-brand(sky, slac);
$form-disabled-opacity: 0.35 !default;
$form-text-size: gesso-font-size(3);

.c-form-item {
  font-size: gesso-font-size(3);
  margin: 0 0 rem(gesso-spacing(3));

  .is-inline > & {
    @media (min-width: 20.625em) {
      margin-bottom: 0;
    }
  }

  &.is-inline {
    width: 100%;

    @include breakpoint-min(gesso-breakpoint(mobile-lg)) {
      display: inline-block;
      margin-bottom: 0;
      width: auto;
    }
  }
}

%disabled-form-styles {
  .is-disabled > & {
    opacity: $form-disabled-opacity;
  }
}

.c-form-item__label {
  @extend %disabled-form-styles;
  color: var(--gesso-text-color);
  display: block;

  .has-error & {
    color: gesso-brand(digital-red, base);
  }
}

.c-form-item__element {
  align-items: center;
  display: flex;
  gap: 0.25em;

  > input {
    flex-shrink: 1;
    min-width: 0;
  }

  .is-full-width > & {
    > input {
      flex-grow: 1;
    }
  }
}

.c-form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.c-form-item__legend {
  margin-bottom: 1em;
}

.c-form-item__description {
  @extend %disabled-form-styles;
  color: gesso-color(text, secondary);
  font-size: rem(gesso-font-size(2));

  > :last-child {
    margin-bottom: 0;
  }
}

.c-form-item__errors {
  @extend %disabled-form-styles;
}

.c-form-item__required-marker::before {
  content: ' *';
}

%c-form-item__box,
.c-form-item__color,
.c-form-item__date,
.c-form-item__email,
.c-form-item__file,
.c-form-item__month,
.c-form-item__number,
.c-form-item__password,
.c-form-item__search,
.c-form-item__select,
.c-form-item__tel,
.c-form-item__text,
.c-form-item__textarea,
.c-form-item__time,
.c-form-item__url,
.c-form-item__week {
  @include focus();
  appearance: none;
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  border-radius: 4px;
  display: inline-block;
  font-size: rem($form-text-size);
  height: 64px;
  line-height: math.div(25px, $form-text-size);
  margin: rem(gesso-spacing(0.5)) 0;
  max-width: 100%;
  padding: em(12px, $form-text-size) em(30px, $form-text-size);
  transition-duration: gesso-duration(short);
  transition-property: background-color, border;
  transition-timing-function: gesso-easing(ease-in-out);

  &:focus {
    background: #f0f7fa;
    border-color: gesso-brand(sky, slac);
    box-shadow: 1px 1px 4px #b6dff2, -1px -1px 6px #b6dff2;
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: $form-disabled-opacity;

    &:focus {
      background-color: $form-background-color;
      border: 1px solid $form-border-color;
    }
  }

  .is-full-width > & {
    width: 100%;
  }

  .is-inline & {
    margin: 0;
  }
}

.c-form-item__textarea {
  height: auto;
}

.c-form-item__error-message {
  color: gesso-brand(digital-red, base);
  font-size: gesso-font-size(2);

  .l-section--dark & {
    color: gesso-color(text, on-dark);
  }
}

// Some class names set by Webform module.
// stylelint-disable-next-line selector-class-pattern
:is(.c-form-item--text, .c-form-item--email, .c-form-item--tel, .c-form-item--date, .c-form-item--webform_time, .c-form-item--number, .c-form-item--textarea, .c-form-item--select).has-error {
  .c-form-item__label {
    font-size: 12px;
    margin: 6px 0 0 30px;
    position: absolute;
  }
}
