// Component: Form Item

@use 'sass:math';
@use 'sass:color';
@use '00-config' as *;

$form-background-color: gesso-grayscale(white);
$form-background-color-focus: gesso-brand(sky, light);
$form-border-color: gesso-grayscale(stanford-black);
$form-border-color-focus: gesso-brand(sky, slac);
$form-disabled-opacity: 0.35 !default;
$form-text-size: gesso-font-size(3);

.c-form-item {
  font-size: gesso-font-size(3);
  margin: 0 0 rem(gesso-spacing(3));
  padding-left: 4px; // avoid focus outlines going out of bounds
  padding-right: 4px;

  .is-inline > & {
    @media (min-width: 20.625em) {
      margin-bottom: 0;
    }
  }

  &.is-inline {
    width: 100%;

    @include breakpoint-min(gesso-breakpoint(mobile-lg)) {
      display: inline-block;
      margin-bottom: 0;
      width: auto;
    }
  }
}

%disabled-form-styles {
  .is-disabled > & {
    opacity: $form-disabled-opacity;
  }
}

.c-form-item__label {
  @extend %disabled-form-styles;
  color: var(--gesso-text-color);
  display: block;
  font-weight: gesso-font-weight(bold);
}

.c-form-item__element {
  align-items: center;
  display: flex;
  gap: 0.25em;

  > input {
    flex-shrink: 1;
    min-width: 0;
  }

  .is-full-width > & {
    > input {
      flex-grow: 1;
    }
  }
}

.c-form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.c-form-item__legend {
  margin-bottom: 1em;
}

.c-form-item__description {
  @extend %disabled-form-styles;
  color: gesso-grayscale(stanford-black);
  font-size: rem(gesso-font-size(2));

  > :last-child {
    margin-bottom: 0;
  }
}

.c-form-item__errors {
  @extend %disabled-form-styles;
}

.c-form-item__required-marker::before {
  color: gesso-brand(digital-red, base);
  content: '* ';
}

%c-form-item__box,
.c-form-item__color,
.c-form-item__date,
.c-form-item__email,
.c-form-item__file,
.c-form-item__month,
.c-form-item__number,
.c-form-item__password,
.c-form-item__search,
.c-form-item__select,
.c-form-item__tel,
.c-form-item__text,
.c-form-item__textarea,
.c-form-item__time,
.c-form-item__url,
.c-form-item__week {
  @include focus();
  appearance: none;
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  border-radius: 4px;
  display: inline-block;
  font-size: rem($form-text-size);
  height: 48px;
  line-height: math.div(25px, $form-text-size);
  margin: rem(gesso-spacing(0.5)) 0;
  max-width: 100%;
  padding: em(12px, $form-text-size) em(24px, $form-text-size);
  transition-duration: gesso-duration(short);
  transition-property: background-color, border;
  transition-timing-function: gesso-easing(ease-in-out);
  width: 100%;

  &:focus {
    outline: 2px solid gesso-brand(lagunita, light);
    outline-offset: 2px;
    // border-color: gesso-brand(sky, slac);
    // box-shadow: 1px 1px 4px #b6dff2, -1px -1px 6px #b6dff2;
    // outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: $form-disabled-opacity;

    &:focus {
      background-color: $form-background-color;
      border: 1px solid $form-border-color;
    }
  }

  .is-full-width > & {
    width: 100%;
  }

  .is-inline & {
    margin: 0;
  }

  .has-error > & {
    margin-bottom: 0;
  }
}

.c-form-item__textarea {
  height: auto;
}

.c-form-item__file {
  border: 0;
  font-size: gesso-font-size(2);
  padding: 0;
}

.c-form-item__color {
  display: inline-block;
  min-width: 48px;
  padding: 8px;
  width: auto;
}

.c-form-item__error-message {
  @include svg-background('error');
  background-color: rgba(gesso-brand(digital-red, base), 0.09);
  background-position: right 20px center;
  background-repeat: no-repeat;
  color: gesso-brand(digital-red, base);
  font-size: gesso-font-size(2);
  margin: 0 8px;
  padding: 12px 20px;
}

// stylelint-disable
.c-field--type-webform {
  @include layout-constrain(gesso-constrain(sm));

  .l-section & {
    padding-left: 0;
    padding-right: 0;
  }
}

// handles a few weird form item types
form > * {
  max-width: 100%;
  overflow: auto;
}
