{#
/**
 * @file
 * Template for a generic layout.
 */
#}
{%
  set classes = [
  'layout',
  'layout--' ~ layout.id|clean_class,
]
%}
{#<pre>#}
{#  {{ dump(content.grid_content) }}#}
{#</pre>#}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endif %}

{% set catch_cache = content|render %}
