{#
/**
 * @file
 * Template for a generic layout.
 */
#}
{%
  set classes = [
  'layout',
  'layout--' ~ layout.id|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% include '@layouts/grid/grid.twig' with {
      'attributes': region_attributes.grid_content,
      'grid_content': content.grid_content,
      'num_of_cols': 4
    } %}
  </div>
{% endif %}

{% set catch_cache = content|render %}
