// @file
// Component: c-video-hero
@use '00-config' as *;

.c-video-hero {
  position: relative;

  img {
    width: 100%;
  }
}

.c-video-hero__media {
  @include breakpoint-min(gesso-breakpoint(desktop)) {
    height: 0;
    padding-bottom: percentage(9/16);
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.c-video-hero__overlay {
  bottom: 0;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.c-video-hero__caption {
  bottom: rem(gesso-spacing(2.5));
  left: calc(50% + #{rem(gesso-site-margins(mobile))});
  position: absolute;
  text-align: right;
  transform: translateX(-50%);
  width: 100%;
  z-index: 5;

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    left: 50%;
  }
}

.c-video-hero__video {
  display: none;
  text-align: right;
}
