// @file
// Component: c-callout-box
@use '00-config' as *;

.c-callout-box {
  margin: 1em auto;
  max-width: gesso-constrain(sm);

  + .l-section .l-section__content {
    // stylelint-disable-next-line property-no-unknown
    container-type: initial;
  }
}

.c-callout-box__inner {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(gesso-breakpoint(tablet)) {
    float: right;
    margin-left: rem(gesso-spacing(4));
    max-width: rem(280px);
  }

  @include breakpoint(gesso-breakpoint(desktop-lg)) {
    margin-right: -50%;
  }
}

.c-callout-box__body {
  @include font-family-primary;
  @include responsive-font-size(2);
  @include on-light-variables;
  background: gesso-color(ui, generic, background-light);
  padding: rem(gesso-spacing(2.5));

  a {
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
  }
}

.c-callout-box__media {
  order: -1;

  img {
    max-width: none;
    width: 100%;
  }
}
