// Component: Figure

@use '00-config' as *;

.c-figure {
  display: table;
  margin-bottom: rem(gesso-spacing(2));
  margin-top: 0;

  &.u-align-center {
    clear: both;
    margin: em(7px, 18px) auto 0;
    max-width: gesso-constrain(images);
    width: 100%;

    img,
    video {
      width: 100%;
    }
  }

  &.u-align-wide {
    max-width: 1240px;
  }

  &.u-align-left {
    @include breakpoint(gesso-breakpoint(tablet)) {
      margin-right: rem(gesso-spacing(4));
      max-width: calc(50% - #{rem(gesso-spacing(2))});
    }
  }

  &.u-align-right {
    @include breakpoint(gesso-breakpoint(tablet)) {
      margin-left: rem(gesso-spacing(4));
      max-width: calc(50% - #{rem(gesso-spacing(2))});
    }

    @include breakpoint-min(gesso-breakpoint(desktop-lg)) {
      margin-right: calc(-50% - #{rem(gesso-spacing(4))});
    }

    .c-wysiwyg & {
      margin-right: 0;
    }
  }

  // Tweak styling in WYSIWYG editor.
  @if $wysiwyg {
    // stylelint-disable
    .cke_widget_wrapper:hover & {
      outline: 2px solid #ffd25c;
    }

    .cke_widget_wrapper.cke_widget_focused &,
    .cke_widget_wrapper.cke_widget_editable_focused & {
      outline: 2px solid #47a4f5;
    }
    // stylelint-enable

    .media-library-item__edit {
      left: rem(gesso-spacing(1));
      position: absolute;
      right: initial;
      top: rem(gesso-spacing(1));
    }
  }
}

.c-figure__media {
  position: relative;

  &,
  img {
    width: 100%;
  }
}

.c-figure__caption {
  @include custom-responsive-font-size(rem(12px), rem(16px));
  caption-side: bottom;
  color: var(--gesso-text-color);
  font-family: gesso-font-family(primary);
  font-style: normal;
  font-weight: gesso-font-weight(regular);
  line-height: gesso-line-height(tight);
  margin-top: rem(gesso-spacing(2.5));
  max-width: 940px;
  width: 100%;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    line-height: gesso-line-height(base);
  }

  .u-align-center & {
    padding: 0 rem(gesso-spacing(2.5));

    @include breakpoint(860px) {
      padding: 0;
    }
  }

  .u-align-wide & {
    max-width: none;
    padding: 0 rem(gesso-spacing(2.5));

    @include breakpoint(1280px) {
      padding: 0;
    }
  }
}

.c-figure--iframe {
  display: block;
  width: 100%;

  .c-figure__caption {
    display: block;
  }
}

.c-figure__button {
  @include focus;
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  inset: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.c-figure__icon {
  pointer-events: none;
}

.c-figure .c-figure__gradient {
  background-size: contain;
}
