// Layout: Sidebar

@use '00-config' as *;
$l-sidebar-bp: gesso-breakpoint(mobile-menu) - 1px;
$l-sidebar-width: 280px;
$l-sidebar-gutter: 107px;

.l-sidebar > .l-constrain {
  display: grid;
  grid-template-columns: 100%;

  @include breakpoint($l-sidebar-bp) {
    gap: $l-sidebar-gutter;
    grid-template-columns: $l-sidebar-width 1fr;

    .l-sidebar__full {
      grid-column: span 2;
    }

    .l-sidebar__main .l-section {
      margin-inline: -1 * gesso-site-margins(desktop);
      padding-inline: gesso-site-margins(desktop);

      .l-section {
        margin-inline: 0;
        padding-inline: 0;
      }
    }
  }

  @include breakpoint-min(gesso-constrain(md)) {
    .l-sidebar__main .l-section {
      margin-inline: -107px
        calc(
          (#{gesso-constrain(md)} - 100vw) / 2 - #{gesso-site-margins(desktop)}
        );
      padding-inline: 107px
        calc(
          (#{gesso-constrain(md)} - 100vw) / -2 + #{gesso-site-margins(desktop)}
        );

      .l-section {
        margin-inline: 0;
        padding-inline: 0;
      }
    }
  }
}

.l-sidebar--reverse {
  @include breakpoint-max($l-sidebar-bp) {
    .l-sidebar__sidebar {
      order: 2;
    }
  }
}
