// @file
// Component: l-subfooter

@use '00-config' as *;

.l-subfooter {
  background: gesso-color(background, subfooter);
  color: gesso-color(text, on-dark);
  font-size: rem(12px);
  padding: rem(gesso-spacing(4)) 0;
  position: relative;
}

.l-subfooter .l-constrain {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rem(gesso-spacing(3));
  justify-content: center;

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-flow: row wrap;
    gap: rem(gesso-spacing(5));
    justify-content: space-between;
  }

  @include breakpoint(gesso-breakpoint(desktop)) {
    flex-wrap: nowrap;
  }
}

.l-subfooter__content {
  flex: 1;

  p:last-child {
    margin-bottom: 0;
  }
}

.l-subfooter__logos {
  display: flex;
  flex-wrap: nowrap;
  order: -999;
  text-align: center;

  > * + * {
    margin-left: rem(gesso-spacing(1.5));
    padding-left: rem(gesso-spacing(1.5));
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    order: initial;
    text-align: right;
  }
}
