// HTML Element: Table

@use '00-config' as *;

@mixin table-style {
  .table-wrapper {
    max-width: 100%;
    overflow-y: auto;
  }

  caption {
    margin-bottom: rem(gesso-spacing(0.5));
  }

  // col {}

  // colgroup {}

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: rem(gesso-spacing(2));
    min-width: 100%;
  }

  // tbody {}

  td,
  th {
    background-color: transparent;
    border: 0;
    font-weight: gesso-font-weight(regular);
    padding: 14px 20px;
    text-align: left;
    white-space: nowrap;
  }

  tfoot,
  thead {
    background-color: rgba(gesso-brand(palo-verde, light), 0.25);

    @media print {
      display: table-header-group;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(gesso-brand(palo-verde, light), 0.05);
    }

    @media print {
      page-break-inside: avoid;
    }
  }
}

@if ($wysiwyg) {
  .ck-content {
    @include table-style;
  }
} @else {
  @include table-style;
}
