// @file
// Component: c-video-lightbox

@use '00-config' as *;

.c-video-lightbox {
  @include on-dark-variables;
  background: rgba(gesso-grayscale(black), 0.92);
  color: var(--gesso-text-color);
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding-bottom: rem(gesso-spacing(4));
  padding-top: rem(gesso-spacing(4));
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: gesso-z-index(modal);
}

.c-video-lightbox__inner {
  display: grid;
  min-height: 100%;
  place-items: center;
  position: relative;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    column-gap: gesso-get-map(gutter-width);
    grid-template-columns: 1fr 167px;
    grid-template-rows: auto;
    place-items: initial;

    .l-constrain & {
      padding-left: rem(gesso-site-margins(desktop));
      padding-right: rem(gesso-site-margins(desktop));
    }
  }
}

.c-video-lightbox__title {
  display: none;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    display: block;
    grid-column-start: span 2;
    margin: 0;
  }
}

.c-video-lightbox__date {
  display: none;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    display: block;
    grid-column-start: span 2;
  }
}

.c-video-lightbox__embed {
  aspect-ratio: 16/9;
  max-height: calc(100% - #{rem(gesso-font-size(3))});
  width: 100%;

  iframe {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 100%;
  }

  @media (orientation: portrait) {
    height: auto;
    max-height: none;
    width: 100%;
  }

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    aspect-ratio: initial;
    grid-row-start: span 3;
    width: 100%;

    iframe {
      aspect-ratio: 16/9;
      height: auto;
      margin: 0;
      width: 100%;
    }
  }
}

.c-video-lightbox__description,
.c-video-lightbox__credit,
.c-video-lightbox__button {
  grid-column-start: 2;
}

.c-video-lightbox__description {
  display: none;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    display: block;
    font-weight: gesso-font-weight(bold);
    padding-bottom: gesso-get-map(gutter-width);
  }
}

.c-video-lightbox__credit {
  display: none;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    display: block;
    font-style: italic;

    a {
      text-decoration-thickness: 1px;
    }

    .c-video-lightbox__description + & {
      border-top: 1px solid currentcolor;
      padding-top: gesso-get-map(gutter-width);
    }
  }
}

.c-video-lightbox__close {
  @include focus;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: gesso-color(text, on-dark);
  cursor: pointer;
  font-weight: gesso-font-weight(bold);
  line-height: 1;
  position: absolute;
  right: rem(gesso-site-margins(desktop));
  text-transform: uppercase;
  top: 0;

  .c-icon {
    margin-left: rem(gesso-spacing(1));
  }
}

.c-video-lightbox__button {
  display: none;

  @include breakpoint-min(gesso-breakpoint(desktop)) {
    align-self: flex-end;
    display: inline-block;
  }
}
